<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" media="all" type="text/css" href="02GeekBrains.css" />
</head>
<body>
<p>1 Основы сетей передачи данных. Модель OSI и стек протоколов TCP IP. Основы Ethernet. [GeekBrains]</p>
<p>2 Обзор профессии "Веб-разработчик. Расширенная версия" [GeekBrains]</p>
<p style="background:#ccc;">3 Веб-разработка на Java [GeekBrains]</p>
<p>4 Возможности программного обеспечения Docker [GeekBrains]</p>
<p style="background:#ccc;">5 Node.js для начинающих [GeekBrains]</p>
<p style="background:#ccc;">6 Как создать парсер сайтов на языке Python [GeekBrains]</p>
<p>7 Обзор профессии "Программист Java" [GeekBrains]</p>
<p>8 Текстовый редактор для веб-программиста: Sublime Text 3 [GeekBrains]</p>
<p>9 Yii2. Невероятная мощь фреймворка нового поколения [GeekBrains]</p>
<p style="background:#ccc;">10 Регулярные выражения для новичков и не только [GeekBrains]</p>
<p style="background:#ccc;">11 Основы Веб-разработки - Урок 1 [GeekBrains]</p>
<p>12 Создание сайта с помощью Yii фреймворка [GeekBrains]</p>
<p>13 Зачем фреймворки веб-разработчику? [GeekBrains]</p>
<p>14 Ruby on Rails фреймворк. Кратко и по делу [GeekBrains]</p>
<p>15 UX-дизайн для начинающих [GeekBrains]</p>
<p>16 Язык Assembler. Знакомство и особенности программирования [GeekBrains]</p>
<p style="background:#ccc;">17 Простой сетевой чат на Java [GeekBrains]</p>
<p>18 Python и ВКонтакте. API автоматизация работы [GeekBrains]</p>
<p>19 Карьера веб-разработчика с нуля до ТОП-зарплаты [GeekBrains]</p>
<p>20 Python OpenCV библиотека [GeekBrains]</p>
<p>21 Зачем изучать язык программирования С# [GeekBrains]</p>
<p>22 Python. Преимущества и особенности языка программирования [GeekBrains]</p>
<p>23 Язык программирования Go [GeekBrains]</p>
<p>24 Теория графов в программировании [GeekBrains]</p>
<p>25 Базы данных - это просто! [GeekBrains]</p>
<p style="background:#ccc;text-decoration:underline">26 SOLID принципы [GeekBrains]</p>
<p>27 Секреты и магия PHP программирования [GeekBrains]</p>
<p>28 Технологии эффективной веб-разработки и программирования [GeekBrains]</p>
<p>29 WebGL и шейдеры – входим в курс дела! [GeekBrains]</p>
<p style="background:#ccc;">30 Основы Веб-разработки - Урок 2 [GeekBrains]</p>
<p style="background:#ccf;">31 Верстка сайтов, с чего начать [GeekBrains]</p>
<p>32 HTML/CSS, JavaScript и Ruby/Rails. Инструменты на все случаи жизни [GeekBrains]</p>
<p>33 Основы компьютерных сетей [GeekBrains]</p>
<p>34 Python. Полезные библиотеки [GeekBrains]</p>
<p>35 10 причин, по которым стоит изучать C#  [GeekBrains]</p>
<p>36 Эффективная архитектура баз данных [GeekBrains]</p>
<p>37 Scrapy: создаём краулер парсер на Python с нуля [GeekBrains]</p>
<p>38 Мониторинг систем. Zabbix [GeekBrains]</p>
<p>39 Как за час стать дизайнером с помощью С#, WPF [GeekBrains]</p>
<p>40 Администрирование СУБД PostgreSQL. Основы SQL [GeekBrains]</p>
<p>41 Адресация и маршрутизация в IP сетях [GeekBrains]</p>
<p>42 Основы работы с базами данных SQL [GeekBrains]</p>
<p>43 Анимация в CSS [GeekBrains]</p>
<p>44 Настройка Webpack для быстрой front-end разработки [GeekBrains]</p>
<p>45 R язык программирования. Обработка данных [GeekBrains]</p>
<p>46 Как оживить веб с помощью JQuery, AJAX, JSON, JSONP и iframe [GeekBrains]</p>
<p>47 Почувствуй себя богом, или Моделирование жизни на Java. Часть I [GeekBrains]</p>
<p>48 Разработка веб-приложений на C#. ASP.NET MVC [GeekBrains]</p>
<p>49 Java 8 Stream API или краткость - сестра таланта [GeekBrains]</p>
<p>50 Работа в командной строке [GeekBrains]</p>
<p>51 Основы языка программирования Scala [GeekBrains]</p>
<p>52 Работа в PHPStorm [GeekBrains]</p>
<p>53 Итак, ты говоришь, что умеешь писать код? [GeekBrains]"</p>
<p>54 С#. Обзор возможностей языка [GeekBrains]</p>
<p style="background:#ccc;">55 Занимательные элементы интерфейса в HTML/CSS. Часть 1 [GeekBrains]</p>
<p>56 Алгоритмы на Java [GeekBrains]</p>
<p>57 Клиент-серверное приложение под Android с помощью сторонних библиотек [GeekBrains]</p>
<p>58 Протокол HTTP: взгляд изнутри [GeekBrains]</p>
<p>59 Этапы проектирования локальных сетей [GeekBrains]</p>
<p style="background:#ccc;">60 HTML5 Video. Создание плейлиста и логотипа</p>
<p style="background:#ccc;">61 Основы программирования 2 [GeekBrains]</p>
<p style="background:#ccc;">62 Чат для вашего сайта NodeJS + WebSockets [GeekBrains]</p>
<p style="background:#ccc;">63 Создаём чат для локальной сети [GeekBrains]</p>
<p style="background:#ccf;">64 Ускоренная верстка сайтов [GeekBrains]</p>
<p>65 Пишем простого чат бота на Java [GeekBrains]</p>
<p>66 Паттерны проектирования в Java [GeekBrains]</p>
<p style="background:#ccc;">67 CSS для потерявшихся: позиционирование [GeekBrains]</p>
<p style="background:#ccc;">68 Разработка веб-интерфейсов по БЭМ методологии [GeekBrains]</p>
<p>69 AngularJS для новичков [GeekBrains]</p>
<p style="background:#ccc;">70 Обзор популярных библиотек и фреймворков для JavaScript [GeekBrains]</p>
<p>71 Работа с файлом .htaccess (Часть 2) [GeekBrains]</p>
<p>72 REST и SOAP.  Что лучше? [GeekBrains]</p>
<p>73 Java + OpenGL. Так ли страшно? [GeekBrains]</p>
<p>74 Быстрая разработка кроссплатформенных игр и приложений [GeekBrains]</p>
<p>75 Начало пути Django разработчика [GeekBrains]</p>
<p>76 Секреты разработки веб-сервисов для бизнеса [GeekBrains]</p>
<p>77 Jade/Pug или HTML на диете [GeekBrains]</p>
<p style="background:#ccf;">78 Пишем HTML5 арканоид на чистом JavaScript и Canvas [GeekBrains]</p>
<p>79 Пишем Telegram бота на PHP [GeekBrains]</p>
<p>80 Развеиваем миф о сложности фреймворка Symfony [GeekBrains]</p>
<p>81 Принципы программирования и антипаттерны [GeekBrains]</p>
<p>82 Алгоритмы сортировки в Java [GeekBrains]</p>
<p>83 Как использовать паттерн MVVM в WPF приложениях [GeekBrains]</p>
<p>84 Инструментарий для всех стадий развития веб-разработчика [GeekBrains]</p>
<p>85 Основы C# в примерах [GeekBrains]</p>
<p>86 Портфолио начинающего веб-разработчика [GeekBrains]</p>
<p>87 JavaScript - интерактивные веб-приложения  [GeekBrains]</p>
<p>88 Продвинутые инструменты разработчика Python [GeekBrains]</p>
<p>89 Почему Python? [GeekBrains]</p>
<p>90 Современное окружение веб-разработки [GeekBrains]</p>
<p>91 Возможности PHP 7 [GeekBrains]</p>
<p style="background:#ccf;">92 HTML5. Новые возможности [GeekBrains]</p>
<p>93 Внедрение зависимостей в приложение на Unity [GeekBrains]</p>
<p>94 JavaFX 8 [GeekBrains]</p>
<p>95 Практические примеры CSS3 Flexbox [GeekBrains]</p>
<p>96 Установка локального веб-сервера. Разработка на PHP+MySQL [GeekBrains]</p>
<p>97 Установка Ubuntu на виртуальную машину [GeekBrains]</p>
<p>98 Навыки и инструменты для эффективной разработки на PHP [GeekBrains]</p>
<p>99 Технологии веб-разработки [GeekBrains]</p>
<p>100 Введение в Angular 2 [GeekBrains]</p>
<p>101 Живое приложение на Flask + Socket IO [GeekBrains]</p>
<p style="background:#ccf;">102 Java. Базовый курс [GeekBrains]</p>
<p>103 Декораторы в Python [GeekBrains]</p>
<p>104 Проектируем в iOs, используя MVVM [GeekBrains]</p>
<p>105 Разработка веб-приложений на PHP + PostgreSQL [GeekBrains]</p>
<p>106 Препроцессоры Less и Sass [GeekBrains]</p>
<p>107 Установка интерпретатора Ruby на Windows [GeekBrains]</p>
<p>108 Как легко начать писать на PowerShell или простая автоматизация Active Directory [GeekBrains]</p>
<p>109 Введение в обработку Больших Данных [GeekBrains]</p>
<p>110 Виртуальная ОС для начинающего разработчика или администратора  [GeekBrains]</p>
<p>111 Как освоить front-end-разработку и собрать портфолио [GeekBrains]</p>
<p style="background:#ccf;">112 Первые шаги Bootstrap [GeekBrains]</p>
<p style="background:#ccc;">113 Как просто создать to do list на JavaScript [GeekBrains]</p>
<p>114 Как написать чат-бот для интернет-магазина на Python [GeekBrains]</p>
<p style="background:#ccf;">115 Как быстро работать с GIT [GeekBrains]</p>
<p>116 Событийная модель JavaScript [GeekBrains]</p>
<p>117 Sublime Text 3 для веб-разработки [GeekBrains]</p>
<p>118 Python. Генераторы и итераторы [GeekBrains]</p>
<p>119 Как пройти собеседование Python программисту [GeekBrains]</p>
<p>120 Разработка веб-приложений на Nuxt.js [GeekBrains]</p>
<p>121 Настройка среды разработки Frontend-разработчика [GeekBrains]</p>
<p>122 Первичный анализ данных в Python [GeekBrains]</p>
<p>123 Правила хорошего тона для верстальщика [GeekBrains]</p>
<p>124 Корпоративные приложения на Java [GeekBrains]</p>
<p style="background:#ccf;">125 Позиционирование элементов CSS [GeekBrains]</p>
<p>126 Лямбда-выражения в Java [GeekBrains]</p>
<p>127 Особенности CSS при кроссбраузерной вёрстке [GeekBrains]</p>
<p>128 Золотой запас Python [GeekBrains]</p>
<p>129 Структуры данных в PHP. Библиотека PHP SPL [GeekBrains]</p>
<p>130 Основы Vaadin [GeekBrains]</p>
<p>131 Что такое MVC на примере Laravel фреймворка [GeekBrains]</p>
<p>132 Ускоренная верстка [GeekBrains]</p>
<p>133 Skype боты на NodeJS: чат и звонки [GeekBrains]</p>
<p>134 Презентация курса HTML5 и CSS3 [GeekBrains]</p>
<p>135 Работа с текстом в HTML/CSS [GeekBrains]</p>
<p>136 Жариков Андрей о курсе "Веб-профессионал" [GeekBrains]</p>
<p>137 Базовые принципы создания хороших пользовательских интерфейсов [GeekBrains]</p>
<p style="background:#ccf;">138 Консольное приложение на Java за час [GeekBrains]</p>
<p style="background:#ccc;">139 Файловая система и сборка БЭМ верстки [GeekBrains]</p>
<p style="background:#ccf;">140 Ускорение в позиционировании элементов [GeekBrains]</p>
<p>141 Создание крупных проектов на C# [GeekBrains]</p>
<p>142 Java. Основы работы с базами данных [GeekBrains]</p>
<p>143 Создание консольных приложений. Основы синтаксиса Java [GeekBrains]</p>
<p>144 Основы PDO для веб-разработки [GeekBrains]</p>
<p>145 Особенности Flexbox вёрстки [GeekBrains]</p>
<p style="background:#ccf;">146 CSS фильтры и эффекты: как сделать красиво [GeekBrains]</p>
<p>147 Spring Framework, самый весенний. [GeekBrains]</p>
<p>148 Введение в jQuery [GeekBrains]</p>
<p style="background:#ccf;">149 Анимация в Web посредством Javascipt и CSS [GeekBrains]!</p>
<p>150 Ограничение прав доступа на PHP. Авторизация и аутентификация [GeekBrains]</p>
<p>151 Основы адаптивной/кроссбраузерной вёрстки [GeekBrains]</p>
<p>152 Основы проектирования и юзабилити [GeekBrains]</p>
<p>153 Лучшие практики проектирования и реализации API на C# [GeekBrains]</p>
<p>154 Сбросить MySQL с корабля современности [GeekBrains]</p>
<p style="background:#ccf;">155 CSS Grid и модульные сетки [GeekBrains]</p>
<p style="background:#ccf;">156 HTML5 и Canvas на JavaScript: от простого к сложному [GeekBrains]</p>
<p>157 Профессиональное использование пространств имен в PHP [GeekBrains]</p>
<p>158 1С-Битрикс. Система для успешной веб-разработки [GeekBrains]</p>
<p style="background:#ccc;">159 Обзор технологии WebRTC [GeekBrains]</p>
<p>160 Как написать красивый код [GeekBrains]</p>
<p>161 Сетевой уровень и модель OSI [GeekBrains]</p>
<p>162 Псевдоселекторы в CSS 3 [GeekBrains]</p>
<p>163 Быстрое вхождение в препроцессор SASS [GeekBrains]</p>
<p>164 Как кодить в условиях неопределенности [GeekBrains]</p>
<p style="background:#ccc;">165 Занимательные элементы интерфейса в HTML CSS. Часть 2 [GeekBrains]</p>
<p>166 Обзор и установка PHP фреймворка Codeigniter [GeekBrains]</p>
<p>167 Инструменты и технологии современного Frontend разработчика [GeekBrains]</p>
<p>168 Введение в Unity3D [GeekBrains]</p>
<p>169 PHP Процедурный vs Объектно-ориентированный стили [GeekBrains]</p>
<p>170 Введение в Yii2 Framework [GeekBrains]</p>
<p>"171 Виртуализация на Hyper V: от слов к цифрам [GeekBrains]</p>
<p style="background:#ccc;">172 Разработка HTML/CSS в Google Chrome. Только хардкор! [GeekBrains]</p>
<p>173 Основы работы с препроцессором Stylus [GeekBrains]</p>
<p>174 О MySQL и к чему может привести её доброта [GeekBrains]</p>
<p style="background:#ccc;">175 CSS и 2D геометрия. Здравствуй, школа и институт! [GeekBrains]</p>
<p>176 Введение в программирование на языке SQL [GeekBrains]</p>
<p>177 HTML5 и работа с API браузера [GeekBrains]</p>
<p>178 Создание пользовательских интерфейсов веб-приложений с помощью библиотеки w2ui [GeekBrains]</p>
<p>179 Профессиональная работа с базами данных в Yii2 [GeekBrains]</p>
<p>180 Как создать логотип для приложения с помощью Sketch [GeekBrains]</p>
<p style="background:#ccf;">181 Графика на веб-страницах [GeekBrains]</p>
<p>182 Архитектура Yii2 Framework [GeekBrains]</p>
<p>183 Векторная графика в веб-дизайне: основы и практика [GeekBrains]</p>
<p>184 Изучаем трейты PHP [GeekBrains]</p>
<p style="background:#ccf;">185 Жизнь без Bootstrap. Собственная модульная сетка [GeekBrains]</p>
<p>186 Тестирование: ручное или автоматизированное? [GeekBrains]</p>
<p>187 Сборка Java проектов. Коротко про Ant, Maven и Gradle [GeekBrains]</p>
<p>188 Автоматизация сервисов Google: Youtube и личное расписание [GeekBrains]</p>
<p>"189 Словари в Python [GeekBrains]</p>
<p>190 PHP 7.0-7.1. Наиболее важные изменения [GeekBrains]</p>
<p>191 Алгоритмы: от последовательности действий до решения сложной задачи [GeekBrains]</p>
<p>192 Репликация PostgreSQL [GeekBrains]</p>
<p>193 Как стать Web разработчиком: весь путь от A до Я [GeekBrains]</p>
<p>194 Введение в JSON Schema [GeekBrains]</p>
<p>195 Построение интерфейса с AutoLayout [GeekBrains]</p>
<p>196 Создаем web-приложение с помощью JHipster — за несколько консольных команд</p>
<p>197 Какой фильм посмотреть? Разрабатываем рекомендательную систему на Python [GeekBrains]!</p>
<p>198 Java – все, что нужно знать о коллекциях [GeekBrains]</p>
<p>199 Псевдоселекторы в CSS3 [GeekBrains]</p>
<p>200 Почувствуй себя богом или Моделирование жизни на Java. Часть III [GeekBrains]</p>
<p>201 Как создать веб-приложение с использованием JavaServer Faces [GeekBrains]</p>
<p>202 Тестирование Django приложения [GeekBrains]</p>
<p>203 GulpJS — быстрый сборщик проектов [GeekBrains]</p>
<p>204 Ruby и Rails с точки зрения системного администратора [GeekBrains]</p>
<p>205 EcmaScript6 и TypeScript. Введение в языки [GeekBrains]</p>
<p>206 Секреты создания панели виджетов с использованием WPF [GeekBrains]</p>
<p>"207 Фреймворк Meteor. Создаем todo-list [GeekBrains]</p>
<p>208 TDD в проектах на PHP [GeekBrains]</p>
<p style="background:#ccc;">209 Кросс пробег по PHP. Уровень 2. [GeekBrains]</p>
<p>210 Apache Ant. Быстрый старт [GeekBrains]</p>
<p>211 Как проводить Юнит-тестирование [GeekBrains]</p>
<p>212 Sentry - мониторинг ошибок при разработке веб-проекта [GeekBrains]</p>
<p>213 Коллекции в Java [GeekBrains]</p>
<p style="background:#ccc;">214 Макетная сетка колонки против Photoshop, HTML и CSS [GeekBrains]</p>
<p>215 Работа с регулярными выражениями на Java [GeekBrains]</p>
<p>216 Тестирование на Java  [GeekBrains]</p>
<p>217 Динамический язык стилей LESS [GeekBrains]</p>
<p>218 Почувствуй себя богом, или Моделирование жизни на Java. Часть IV [GeekBrains]</p>
<p style="background:#ccc;">219 Как создать свое веб-приложение на Flask [GeekBrains]</p>
<p>220 Путь от идеи до запуска глазами разработчика [GeekBrains]</p>
<p>221 Ускорение в позиционировании элементов. Flexbox vs CSS Grid [GeekBrains]</p>
<p>222 Фреймворк Vue для начинающих [GeekBrains]</p>
<p>223 Обзор «Entity Framework 6» [GeekBrains]</p>
<p>224 Material Design Intro для новичка и профи [GeekBrains]</p>
<p>225 Магия Yii2 или осваиваем геттеры и сеттеры [GeekBrains]</p>
<p>226 Основы тестирования с RSpec [GeekBrains]</p>
<p>227 Использование диалогов пользовательского интерфейса в WPF и с MVVM [GeekBrains]</p>
<p>228 Знакомство с CMS NetCat [GeekBrains]</p>
<p>229 Алгоритмы динамическое программирование [GeekBrains]</p>
<p>230 Массивы в JavaScript [GeekBrains]</p>
<p>231 Массивы в JavaScript [GeekBrains]</p>
<p style="background:#ccf;">232 Google Chrome консоль. Продолжение хардкора [GeekBrains]</p>
<p>233 Метапрограммирование [GeekBrains]</p>
<p style="background:#ccf;">234 Облака для разработчиков [GeekBrains]</p>
<p>235 Создание интерфейса с использованием Xib-файлов [GeekBrains]</p>
<p>236 Работа с файлом .htaccess (Часть 3) [GeekBrains]</p>
<p>237 Основы асинхронного программирования на PHP с ReactPHP [GeekBrains]</p>
<p>238 Введение в параллельные вычисления на языке C# [GeekBrains]</p>
<p style="background:#ccc;">239 Типографика в HTML/CSS [GeekBrains]</p>
<p>240 Как использовать Netbeans IDE для веб-разработки [GeekBrains]</p>
<p>241 Ruby on Rails. Неожиданные трудности [GeekBrains]</p>
<p>242 Как защитить сайт от копирования [GeekBrains]</p>
<p>"243 Первые шаги, впечатления от PHPStorm [GeekBrains]</p>
<p>244 Клиент-серверное приложение для мониторинга нагрузки на сервер [GeekBrains]</p>
<p>245 Миварный подход. Создание логики с минимумом программного кода [GeekBrains]</p>
<p>246 Язык Gherkin. Как описать автоматический тест понятным человеку языком</p>
<p>247 Необходимые инструменты Ruby on Rails [GeekBrains]</p>
<p style="background:#ccf;">248 Позиционирование элементов CSS. Часть 2 [GeekBrains]</p>
<p>249 Как не облажаться при выборе веб-студии [GeekBrains]</p>
<p style="background:#ccf;">250 Google-календарь теперь и с веб-интерфейсом [GeekBrains]</p>
<p>251 Основы Nhibernate [GeekBrains]</p>
<p>252 Базовые типы данных, ветвление и циклы языка Java [GeekBrains]</p>
<p>253 Рекурсия вычисления значения символьного математического выражения [GeekBrains]</p>
<p>254 Паттерн Стратегия — пример применения концепций ООП [GeekBrains]</p>
<p style="background:#ccf;">255 Работа с переменными в JavaScript [GeekBrains]</p>
<p>256 Objective C Runtime для начинающих [GeekBrains]</p>
<p>257 Насколько большой твой баг [GeekBrains]</p>
<p>258 Модульная сборка с Webpack [GeekBrains]</p>
<p style="background:#ccc;">259 Android: как поживают активности? [GeekBrains]</p>
<p>260 Асинхронные задачи в Ruby on Rails c помощью Sidekiq [GeekBrains]</p>
<p>261 Темная сторона Agile [GeekBrains]</p>
<p>262 Автоматизация работы с файлами [GeekBrains]</p>
<p>263 Синтаксический сахар при работе с потоками на языке С# [GeekBrains]</p>
<p>264 Знакомство с командным интерпретатором bash [GeekBrains]</p>
<p>265 Как поднять web-сервер на FreeBSD [GeekBrains]</p>
<p style="background:#ccf;">266 Типы данных в PHP [GeekBrains]</p>
<p>267 Веб-разработка: поработаем в команде [GeekBrains]</p>
<p>268 Асинхронное программирование на Ruby [GeekBrains]</p>
<p>269 Какие ошибки возникают при выстраивании процесса разработки [GeekBrains]</p>
<p>270 Mamma mia! Готовим вкусное приложение на Objective C [GeekBrains]</p>
<p>271 Создание рекомендательных систем с помощью PHP и MySQL [GeekBrains]</p>
<p>272 Алгоритмы и структуры данных [GeekBrains]</p>
<p>273 Как устроены строки в Java и что с ними делать [GeekBrains]</p>
<p>274 Архитектура окна iOS приложения. Жизненный цикл ViewController [GeekBrains]</p>
<p>275 Вывод на консоль средствами языка Си [GeekBrains]</p>
<p>276 Типы данных в языке Java [GeekBrains]</p>
<p>277 Обзор технологий для прототипирования веб-интерфейсов [GeekBrains]</p>
<p>278 Ruby с точки зрения процессов ОС [GeekBrains]</p>
<p>279 Типы данных языка C# [GeekBrains]</p>
<p>"280 RxJava и основы реактивной разработки [GeekBrains]</p>
<p>281 Инструменты работы в команде и с заказчиком при создании web&mobile приложений [GeekBrains]</p>
<p>282 Как использовать отладочный прокси сервер для анализа трафика веб-приложений [GeekBrains]</p>
<p>283 Как управлять контактами с использованием фреймворка Contacts [GeekBrains]</p>
<p>284 Многообразие языков на базе JVM [GeekBrains]</p>
<p>285 Разработка SOA приложения с помощью WCF [GeekBrains]</p>
<p>286 Осваиваем frontend-backend взаимодействие, используя Ember js и Rails [GeekBrains]</p>
<p>287 Аннотации типов в Python [GeekBrains]</p>
<p>288 Нужен ли мне фреймворк? [GeekBrains]</p>
<p>289 Весенний "RESTful" - сервис котировок [GeekBrains]</p>
<p>290 Как протестировать SOAP сервис [GeekBrains]</p>
<p>291 Изучите Hibernate на практике [GeekBrains]</p>
<p>292 Введение в server side и разработку под iOS на Swift [GeekBrains]</p>
<p>293 Domain Specific Language с помощью Ruby [GeekBrains]</p>
<p>294 Интерактивная 3D графика на WebGL [GeekBrains]</p>
<p>295 Основы сервис-ориентированной архитектуры [GeekBrains]</p>
<p>296 Сервисы рассылок для вашего сайта [GeekBrains]</p>
<p>297 Выборка данных из MySQL с группировкой средствами PHP [GeekBrains]</p>
<p>298 Как быстро создать Flickr клиент на Swift [GeekBrains]</p>
<p>299 Основы Yii2 [GeekBrains]</p>
<p>300 Как добавить сертификат на выделенный LAMP сервер HTTPS [GeekBrains]</p>
<p>301 Модульное тестирование. Unit тесты на C# [GeekBrains]</p>
<p>302 Итераторы в Ruby [GeekBrains]</p>
<p>303 Знакомство с UITableView [GeekBrains]</p>
<p>304 Puppet - инструмент для управления конфигурациями [GeekBrains]</p>
<p>305 Как дополненная реальность прямо сейчас меняет жизнь человека [GeekBrains]</p>
<p>306 Действия администратора на базе классов представлений Django Class based views, CBV [GeekBrains]</p>
<p>307 Блоки в Ruby [GeekBrains]</p>
<p>308 R&D research and development [GeekBrains]</p>
<p style="background:#ccc;">309 html5 part2 [GeekBrains]</p>
<p>310 Best Practices при работе с Drupal 8 [GeekBrains]</p>
<p> 209       33 41 43 50 87 92 110 150 176   
190 191 253 275 281 294 305 </p>
<p>https://www.youtube.com/watch?v=F6IRKq4HbSA&list=PLmRNNqEA7JoPwc92mQ-TxOj_HtwGu64ao&index=53</p>

	
</body>
</html>