<!DOCTYPE html>
<head>
<meta charset="utf-8">
    
    <title>
    kino
    </title>
    <link rel="stylesheet" media="all" href="11kinopehu.css" />
</head>
<body bgcolor=#afafff >
<!-- background="foto/442.jpg" -->    
<p><a href="mailto:mlapin@rambler.ru">mlapin@rambler.ru</a></p>
    
    <details><summary>
        </summary>
        </details>
    <details><summary>
        </summary>
        </details>
   <details><summary>
Avg00st.2013.D.BDRip.2100Mb        </summary>
		В ролях: Мэрил Стрип, Джулия Робертс, Эван МакГрегор, Крис Купер, 
		Джулианна Николсон, Бенедикт Камбербэтч, Дермот Малруни <br>
 О фильме: В городе Талса, штат Оклахома, в отчий дом 
 съезжаются члены большой семьи Уэстонов. Случилось несчастье и три 
 дочери Барбара, Карен, Иви, их мать Виолетта, тетя Метти Фей, а также 
 их мужья, дети и ухажеры собираются под одной крышей, пьют виски и выясняют 
 отношения, обвиняя друг друга в предательствах, подавленных чувствах
 и изломанных судьбах. У каждого есть свой скелет в шкафу и все тайное, 
 что обычно скрывается за фасадом благополучного дома, становится явным.       </details>
    <details><summary>
Big.Driver.2014.DVDRip.CINEMANIA        </summary>
Писательница увлеклась мщением        </details>
   <details><summary>
     <details><summary>
 Восхождение Юпитер 2015      </summary>
        </details>
    <details><summary>
 Lubovi.ne.po.razmeru.2016.D.WEB-DLRip.1400MB-TST       </summary>
        </details>
   <details><summary>
Преступник, фантастика        </summary>
Кевин Костнер        </details>
    <details><summary>
Разрушение        </summary>
Когда банкир Дэвис узнал, что его жена мертва, он захотел купить шоколадный батончик в торговом автомате, но тот оказался сломан. Переживая горе, Дэвис начинает крушить дом, мебель, машину, строчить жалобы в обслуживающую торговые автоматы фирму. А в письмах он… рассказывает историю своей любви. Скоро ему отвечает Карен, менеджер компании, но сможет ли она спасти Дэвиса из эмоциональной пропасти?...        <IMG src="foto/1000417razr.jpg" height=417 width=1000 alt="442" align=right>    
</details>
    <details><summary>
 Джой.2015       </summary>
 Де Ниро. Швабра.       </details>
    <details><summary>
 Интерн.Стажер.       </summary>
 Де Ниро.       </details>
    <details><summary>
        </summary>
        </details>
    <details><summary>
Секретарша 2003</summary>
по песне Бутусова  
                         </details>
    <details><summary>
Ночной администратор.6 серий.        </summary>
Хью Лори        </details>
    <details><summary>
На гребне        </summary>
серфинг        </details>
    
    
    <details><summary>
Экипаж        </summary>
Машков        </details>
    
    
    <details><summary>
Мост шпионов        </summary>
Том Хэнкс, Спилберг       </details>
    
    <details><summary>
        </summary>
        </details>
    
    <details><summary>
TBBT Теория большого взрыва </summary>
8-й закончен    </details>

    
    <details><summary>
Омерзительная восьмерка        </summary>
Все друг друга убивают.
Рассел,Джексон,Тарантино.        </details>
    <details><summary>
День выборов 2        </summary>
Нонна Гришаева        </details>
    <details><summary>
Экстрасенсы        </summary>
Колин Фаррелл, Энтони Хопкинс        </details>
    <details><summary>
Марсианин        </summary>
Дэймон        </details>
    <details><summary>
Падение Лондона / London Has Fallen 2016        </summary>
Джерард Батлер, Аарон Экхарт, Морган Фримен
О фильме: При загадочных обстоятельствах убит британский премьер-министр. На его похороны съезжаются лидеры крупнейших держав мира. Несмотря на запредельные меры безопасности, неизвестные террористы успешно взрывают приглашенных руководителей государств одного за другим вместе с половиной исторического центра Лондона. Однако, для президента США и его личного телохранителя все только начинается... 
        </details>
    <details><summary>
 Fargo       </summary>
        </details>
    <details><summary>
 Starred.Up.2013.L1.HDRip.1400Mbt       </summary>
 Отец за сыном в тюрьму        </details>
    <details><summary>
 Sosedy.na.trope.voiny.2014.BDRip.XviD.C!v       </summary>
 комедия дурацкая       </details>
   <details><summary>
 A.Million.Ways.to.Die.in.th.West.2014.Dub.BDRip.1,46Gb.XviD.AC3       </summary>
 Вестерн       </details>
   <details><summary>
Test.na.beremennost.2014.HDTVRip.(720p).MediaClub       </summary>
рус сериал        </details>
   <details><summary>
Podalshe ot tebja.2005.BDRip.1080p        </summary>
две сестры        </details>
   <details><summary>
Joy.Ride.3.2014.Blu.Ray.1080p.CINEMANIA.mkv        </summary>
кровавое шоссе        </details>
Rush.2013.BluRay.1080p.DTS.x264-CHD        </summary>
Гонщики. Формула 1.        </details>
  <details><summary>
 Неизвестный 2011       </summary>
 Ниссон Боевик. Очнулся после комы.       </details>
   <details><summary>
Jack.Ryan.2014.D.HDRip.X-Torrents.Wanterlude        </summary>
забавный политический детектив службы и т.д.        </details>
    <details><summary>
Predestination.2014.BDRip.1080p.MediaClub        </summary>
Фантастика петля времени.Один раз можно.        </details>
   <details><summary>
Звездные войны эпизод 7        </summary>
Харрисон Форд     </details>
  <details><summary>
Lub0v.ot.vs3h.b0lezHey.2014.D.HDRip.1400Mb        </summary>
Комедия        </details>
<details><summary>
 Uskorennaya.Pomosch       </summary>
        </details>
		
  <details><summary>
        </summary>
        </details>
   <details><summary>
        </summary>
        </details>
  <details><summary>
        </summary>
        </details>
   <details><summary>
        </summary>
        </details>
    
    
    
    <h3>
не смотрено    <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</h3>
<!-- films Нашествие варваров
первому игроку приготовиться фильм 2018
наш район
скрипачка Стирлинг, Линдси -->    
  <details><summary>Нашествие варваров
        </summary>1
        </details>
   <details><summary>первому игроку приготовиться фильм 2018
        </summary>2
        </details>
    <details><summary>наш район
        </summary>3
        </details>
   <details><summary>скрипачка Стирлинг, Линдси
        </summary>4
        </details>
   <details><summary>
        </summary>
        </details>
   <details><summary>
        </summary>
        </details>
? крейсер галактика кровь и хром 2012       </summary>
        </details>
     <details><summary>
  VOkZaLL.2O15.P.HDRip.14OOMB      </summary>
        </details>
    <details><summary>
 Etot.nelovkiy.moment.2014.D.DVDRip.1400MB       </summary>
 молодежный       </details>
    <details><summary>
Baraka.1992.x264.BDRip.(AVC).nnlabetik        </summary>
        </details>
    <details><summary>
 Kojaaniskatsi.1982.x264.BDRip(720p)-Valegorov       </summary>
        </details>
    <details><summary>
 Samsara.2011.x264.BDRip.(AVC)       </summary>
        </details>
    <details><summary>
The.Purge.Anarchy.2014.D.HDRip.1400Mb.avi        </summary>
Сутки анархии. Разрешено убийство.        </details>
   <details><summary>
Survivor.2015 выжившая       </summary>
 броснан йовович мила       </details>
   <details><summary>
No.Offence.S01.ViruseProject <br>   Без обид     </summary>
        </details>
   <details><summary>
 HIMYM.S01.720p.WEB-DL.3xRus.Eng       </summary>
 как я встретил вашу маму       </details>
   <details><summary>
 Nineteen.Eighty-Four.1984.BDRip.BEN-BEN       </summary>
 не досмотрел       </details>
   <details><summary>
12.Let.2013.D.HDRip.1400Mb        </summary>
исторический амер негр        </details>
   <details><summary>
A.vot.i.ona.2014.BDRip.1080p-MediaClub        </summary>
Дуглас       </details>
    <details><summary>
 Left.Behind.2014.D.HDTV.1080p_by_Twi7ter       </summary>
Фантастика мистическая Кейдж        </details>
   <details><summary>
Noy.2014.D.HDRip.1400MB        </summary>
Кроуфорд. Похоже на фантастику.        </details>
   <details><summary>
Odna.vstrecha.2014.VC-1.Blu-Ray.Remux.1080p.gogamel74.ExKinoRay        </summary>
мелодрама европейская     </details>
   <details><summary>
The.Captive.2014.DVDRip        </summary>
триллер канада пропала дочка 8 лет назад        </details>
   <details><summary>
The.Grand.Seduction.2013.P.HDTVRip.1400MB        </summary>
Канада Большая афера        </details>
   <details><summary>
The.Last.Days.on.Mars.2013.BDRip.1080p        </summary>
Великобритания        </details>
   <details><summary>
 Аномалия.        </summary>
 О фильме: Райан Рив, как и любой солдат, всегда готов к любым поворотам судьбы.
 Этому не помешает ни отстранение от службы, ни тяжелое психологическое 
 состояние – ведь ты солдат. Но даже профессионалам требуется собрать 
 всю силу воли в кулак, чтобы вырваться из состояния, когда твоим сознанием 
 кто-то управляет. Когда только мгновенные промежутки времени подконтрольны 
 подсознанию, чтобы узнать правду, понять как собственная судьба связана 
 с мальчиком Алексом, с которым оказываешься внутри темного движущегося фургона...
 Где реальность и как остановить то, что происходит? Под силу ли воину 
 преодолеть все немыслимые препятствия и выяснить причину своего аномального
 поведения и кто за этим стоит?       </details>
   <details><summary>
        </summary>
        </details>
   <details><summary>
        </summary>
        </details>
   <details><summary>
        </summary>
        </details>
    
    


    

</body>
