<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" media="all" type="text/css" href="12menu.css" />
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<nav>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">WordPress</a>
			<!-- первый уровень выпадающего списка -->
			<ul>
				<li><a href="#">Themes</a></li>
				<li><a href="#">Plugins</a></li>
				<li><a href="#">Tutorials</a>
                    <!-- второй уровень выпадающего списка -->
                    <ul>
                        <li><a href="#">Stuff</a></li>
                        <li><a href="#">Things</a></li>
                        <li><a href="#">Other Stuff</a></li>
                    </ul>
                    <!—конец второго уровня выпадающего списка -->
				</li>
			</ul>
		</li>
		<li><a href="#">Graphic Design</a></li>
		<li><a href="#">Inspiration</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">About</a></li>
	</ul>
</nav>
<div class="content">
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem optio in hic asperiores ex dolore laudantium doloribus dolorem nemo quaerat eaque repellendus quisquam inventore doloremque sapiente, maxime, quos pariatur ipsum?</div>
	<div>Eum deserunt consequuntur distinctio voluptates corrupti fuga facilis rerum, veritatis dolore! Impedit illo tempora nostrum reiciendis nesciunt vel! Commodi, porro laboriosam ad at dolore doloribus et nisi delectus in amet.</div>
	<div>Asperiores necessitatibus aut, enim quos laboriosam inventore beatae. Necessitatibus quia nihil a velit cum dicta laudantium maxime nobis similique alias. Accusamus amet nam architecto itaque, magni in. Aliquam, eum amet.</div>
	<div>Odit eos natus sequi, officiis iste amet doloremque, nam molestias illo quia excepturi, consequatur architecto ipsam dolorum nostrum repudiandae ex delectus ab perferendis deserunt reprehenderit. Esse aliquam id modi numquam.</div>
	<div>Est repellendus, dolor, natus illo cumque eos voluptas cupiditate corrupti dolorum dolorem necessitatibus sequi modi dolores doloribus architecto expedita omnis praesentium, perferendis autem. Ab autem sint quos iusto tenetur placeat.</div>
	<div>Est dicta blanditiis corrupti minima accusantium libero eum ex mollitia qui voluptatem tempore distinctio debitis soluta molestias, officia dolorem deserunt laborum, natus commodi optio reiciendis nostrum eligendi omnis quod! Quis.</div>
	<div>Sapiente molestias earum dolorem asperiores inventore quos, amet obcaecati omnis accusamus temporibus eaque. Saepe adipisci a laborum accusamus, facere vel unde, veritatis praesentium quidem vero eveniet enim quos fuga quas.</div>
	<div>Dolorem facere vitae, ad repellat, sunt excepturi accusantium doloribus esse dolores culpa similique cupiditate totam! Nesciunt assumenda, maxime tempore, quae sequi perferendis harum repellat error excepturi sint dolor asperiores exercitationem!</div>
	<div>Incidunt quod provident, assumenda eligendi asperiores culpa accusamus quis ipsa ad aperiam voluptas quia, omnis dignissimos cum, fugit esse! Magnam perferendis dolorem officia velit, modi voluptas facilis maiores deleniti quaerat?</div>
	<div>Porro esse tempora excepturi odio beatae unde laudantium, facilis nesciunt. Libero sapiente reiciendis ab, excepturi mollitia expedita non nesciunt explicabo reprehenderit deleniti nihil amet assumenda modi veniam, velit temporibus, veritatis.</div>
	<div>Aperiam suscipit, laboriosam ipsum numquam eius natus ullam asperiores sapiente. Quas numquam aspernatur iusto voluptatum sit mollitia voluptas magnam necessitatibus architecto quod. Ea beatae, quas illum maiores ducimus omnis enim.</div>
	<div>Illo, velit, cumque! Quisquam quos laborum, qui. Esse veniam aliquam deserunt iste tempore, repellat sit enim unde necessitatibus ipsam nam tenetur nulla eius, non quam dolor voluptatibus quisquam earum? Aspernatur.</div>
	<div>Architecto, atque dolorem! Dolorum vitae tempore illo repudiandae quisquam voluptates doloribus architecto fuga, repellat illum perspiciatis esse magnam, reiciendis dolores laborum omnis! Dicta ipsum corporis quos, perspiciatis velit adipisci suscipit.</div>
	<div>Debitis tenetur eius omnis, minima repudiandae reprehenderit nobis repellat nisi cupiditate impedit. Repellendus quas magni, adipisci sunt, ad temporibus quos iure rerum optio nam voluptates dignissimos, eos hic placeat tempore.</div>
	<div>Perspiciatis quasi quia doloribus obcaecati quos officiis sint ea praesentium laudantium, accusamus quam commodi deleniti ducimus quibusdam veritatis qui, debitis voluptatem voluptatibus quas, incidunt repudiandae mollitia amet. Perferendis totam, nisi!</div>
	<div>Voluptate porro mollitia hic voluptas ipsam, laudantium, dolores magnam molestias. Laboriosam, assumenda quibusdam explicabo placeat, eum repellendus! Commodi repudiandae enim, voluptatem, cumque nemo ab, praesentium sint eaque eum aperiam voluptas.</div>
	<div>Tenetur est reiciendis corporis obcaecati commodi saepe quasi recusandae? Cum eligendi repudiandae officiis sequi eveniet architecto iure quae mollitia suscipit consectetur officia quasi numquam, itaque quibusdam dolor nihil magni, ratione.</div>
	<div>Quam ipsa tempore autem quidem voluptatum deleniti voluptate tempora ullam aut, odio est repellat nihil sapiente, dolores, aliquam omnis ab iure non temporibus itaque pariatur. Nihil sit, consequuntur voluptatum maxime.</div>
	<div>Placeat eius, suscipit esse fugiat ratione et quasi consequatur voluptatum, culpa doloremque quaerat fugit voluptas velit ea debitis, sequi distinctio alias. Itaque magni laudantium, blanditiis adipisci. Fugit quia vel eligendi.</div>
	<div>Nobis quas sunt, at voluptatibus nam harum deserunt, odit ipsum consequatur. Dolore quod ut perferendis illo voluptatem dignissimos non at, a id suscipit architecto. Eos fugit sunt exercitationem, harum accusantium!</div>
	<div>Suscipit nesciunt officia, sequi, vero modi ut error ab omnis exercitationem unde obcaecati praesentium minima voluptatem illum beatae nemo. Non aperiam cumque dolores rem. Minus sunt vero unde, ipsam nulla.</div>
	<div>Eos incidunt similique, tempore, id quam perferendis facilis minima inventore possimus dicta harum ipsam distinctio nulla quas at. Libero vero nobis itaque qui veritatis asperiores beatae illum blanditiis quos ea!</div>
	<div>At possimus veniam cum, ut sunt ratione, cupiditate consequuntur molestiae officia voluptatem sed perferendis quaerat delectus nisi, vel, provident. Quae illum, at deserunt tempora. Ab, ex! Accusamus esse qui consequatur!</div>
	<div>Voluptate blanditiis mollitia debitis repudiandae voluptatibus corporis totam possimus repellat necessitatibus ullam, velit quia labore enim eum tempore consectetur consequuntur dicta voluptatem saepe consequatur neque, obcaecati ad aspernatur corrupti. Tempora.</div>
	<div>Tempora doloribus at numquam eaque atque vero, nesciunt ab ullam quas maiores quis reprehenderit neque pariatur, expedita natus voluptatem necessitatibus nihil suscipit perferendis architecto libero. Deserunt, suscipit quis optio minus?</div>
	<div>Voluptatem ut eius nam architecto non quae optio quisquam fuga quibusdam consequatur odio dignissimos, pariatur magni eligendi natus magnam nulla. Doloribus autem voluptates recusandae inventore vel adipisci, atque rerum cupiditate.</div>
	<div>Sequi, soluta cupiditate enim laborum. Est quaerat sint illum, odio iusto officiis, veritatis iure quia aut et sunt illo commodi porro ullam mollitia deserunt nam expedita totam id tempore! Iure!</div>
	<div>Beatae quas excepturi dolore explicabo voluptas placeat quidem sint, ad tempora hic quam, deserunt, unde quia voluptatem iure, eligendi. Odit, voluptas nesciunt suscipit amet omnis aperiam dignissimos saepe dolorem ipsam!</div>
	<div>Ullam vitae non pariatur libero blanditiis nisi dicta adipisci soluta rerum, alias obcaecati aliquam excepturi officia ratione asperiores iusto dolores sunt reprehenderit atque facilis eveniet earum corporis omnis nesciunt quaerat.</div>
	<div>Impedit ullam accusantium, asperiores cumque laborum maxime at provident dolores sapiente corrupti. Aliquid doloremque, facere reprehenderit perferendis beatae fuga quae ullam aliquam ea. Est porro ipsum dolor, necessitatibus, eius aliquam.</div>
	<div>Accusamus quos quisquam, odio numquam porro excepturi nostrum sapiente aliquam, tempora modi dolor culpa exercitationem temporibus assumenda. Fuga sapiente iusto nulla, consectetur delectus, soluta, officiis pariatur dolorem assumenda minus explicabo.</div>
	<div>Fugit excepturi sint minus at repellat perspiciatis beatae? Expedita dolor veritatis, maxime. Quas doloremque eaque explicabo quae expedita unde commodi! Quibusdam ut magnam officiis facilis, placeat officia earum a minima.</div>
	<div>Expedita fuga quidem molestiae asperiores dolor quod deleniti, quaerat delectus minus itaque atque similique, rerum sed, eos provident repudiandae corrupti ducimus adipisci quam quisquam cumque rem. Soluta, in quod eligendi!</div>
	<div>Optio doloremque voluptatem commodi, enim, aperiam, placeat magnam quod, cumque asperiores ad officiis neque possimus omnis necessitatibus tenetur numquam quo laboriosam iusto facere praesentium! Dicta eius, obcaecati quam recusandae soluta?</div>
	<div>Quod inventore obcaecati officiis odio et quam non, labore iure maiores asperiores nostrum assumenda nihil reprehenderit maxime, debitis consectetur quae quisquam molestias quas! Amet dignissimos, deleniti tempora, dolorem ut nemo.</div>
	<div>Excepturi ab sit esse repellat nostrum exercitationem necessitatibus nisi adipisci fugiat odit aperiam harum praesentium unde molestiae in, vero incidunt laudantium ut, itaque minus quia dolorum! Sint quos ipsa magnam.</div>
	<div>Mollitia quo et delectus sed ex, consequuntur aut fuga beatae itaque qui, recusandae odio explicabo numquam nisi ullam dolores earum, officiis quisquam ea rem amet voluptate accusamus. Explicabo voluptates, inventore!</div>
	<div>Tempora, reiciendis voluptatibus, suscipit quasi molestiae numquam. Numquam doloribus dolorem a, delectus, nobis autem natus ullam ut sit. Architecto ipsum iure incidunt, velit quae iusto voluptatibus eos dolorum, deleniti magnam!</div>
	<div>Ducimus earum officia quod, omnis voluptates cumque quidem molestiae reiciendis asperiores repellendus inventore eius repudiandae similique aspernatur delectus voluptatibus vitae veritatis, dolorem odio atque! Officia soluta debitis id accusamus optio.</div>
	<div>Minima, molestiae esse assumenda quos sint natus cumque tenetur dolor at fugit, nisi possimus impedit dicta quia voluptas veniam cupiditate eum ad nemo, molestias doloremque amet eligendi voluptates? Sunt, magni.</div>
</div>
<script type = "text/javascript">
function getFiniteValue(obj) {
    getProp(obj);

    function getProp(o) {
		var k=100;
        for(var prop in o) {
			if(k<1){
				break;
			}
			k -= 1;
            if(typeof(o[prop]) == 'object') {
                getProp(o[prop]);
            } else {
					console.log(o[prop]);
            }
        }
    }
}


	
getFiniteValue(document.body);
</script>
</body>
</html>
