<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>audio</title>
 </head>
 <body>
  <p>002 Evils toy - Strange modern art.mp3</p>
  <audio controls>
    <source src="media/201/002 Evils toy - Strange modern art.mp3" type="audio/mpeg">
    <source src="media/201/004 Secret service - Ten oclock postman.mp3" type="audio/mpeg">
    <source src=".mp3" type="audio/mpeg">
    <source src=".mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
  </audio>
  <p>004 Secret service - Ten oclock postman.mp3</p>
  <audio controls>
    <source src="media/201/004 Secret service - Ten oclock postman.mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
  </audio>
  <p>006 DJ Bobo - Somebody dance with me</p>
  <audio controls>
    <source src="media/201/006 DJ Bobo - Somebody dance with me.mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
  </audio>
  <p>4</p>
  <audio controls>
    <source src=".mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
  </audio>
  <p>5</p>
  <audio controls>
    <source src=".mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
  </audio>
  <p>6</p>
  <audio controls>
    <source src=".mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
  </audio>
 </body>
</html>