<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<base target="_blank">
	<style>
		td{border: dotted 1px;}
	</style>
</head>
<body>
	<table>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://habr.com/ru/post/69973/">Бесплатная регистрация доменного имени - Хабр</a></td>
			<td><a href=""></a></td>
			<td><a href="https://habr.com/ru/company/ruvds/blog/359216/">Создание, настройка и использование собственного Git-сервера / Блог компании RUVDS.com / Хабр</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.youtube.com/watch?v=adaZZd73VGU&t=254s">(37) Бесплатный хостинг и домен. Загрузка сайта на GitHub. - YouTube</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.youtube.com/watch?v=1AHKLKptuH4">(37) Введение в IPv6: 05 - DNS в сетях IPv6 - YouTube</a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td>delphy</td>
			<td><a href="https://yandex.ru/turbo?text=https%3A%2F%2Fwww.webdelphi.ru%2F2010%2F09%2Fbystraya-obrabotka-rss-kanala-s-ispolzovaniem-ajax-api-zagruzki-fidov-google%2F&d=1">Быстрая обработка RSS-канала с использованием AJAX API загрузки фидов Google.</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="http://armak-iac.org/">АВИАЦИОННЫЙ РЕГИСТР МАК</a></td>
			<td><img src="http://favicon.yandex.net/favicon/feeder.co" alt=""></td>
			<td><a href="http://favicon.yandex.net/favicon/feeder.co">feeder.co (16×16)</a></td>
			<td><a href=""></a></td>
			<td><a href="http://polincom.ru/prays_icom">Прайс ICOM - цены на аксессуары и радиостанции Icom</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
			</table>
			<table>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="https://github.com/mlapinm/">github</a></td>
			<td></td>
			<td><a href="https://mlapinm.github.io/">mlapinm.github.io</a></td>
			<td></td>
			<td><a href="https://mlapinm.github.io/ndstsrv/">mlapinm.github.io/ndstsrv</a></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="https://youtu.be/-1JT6z7VIzg">pingpong2</a></td>
			<td></td>
			<td><a href="">Movavi</a></td>
			<td></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://accounts.google.com/">Gmail</a></td>
			<td><a href=""></a></td>
			<td><a href="">mmlapinm</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://console.starter-us-east-1.openshift.com/console/project/jadechat/overview">OpenShift Web Console</a></td>
			<td><a href=""></a></td>
			<td><a href="https://docs.openshift.com/enterprise/3.0/dev_guide/deployments.html">Deployments | Developer Guide | OpenShift Enterprise 3.0</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="http://dachniki.spb.ru/">Каркасно-щитовые утепленные дома под ключ.</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.reg.ru/whois/?check=&dname=dachniki.spb.ru&_csrf=eb20caf692720b5ea45ea27c13b2ad09">Whois сервис — проверка свободного домена на занятость, информация о домене сайта и его IP | REG.RU</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://console.developers.google.com/apis/credentials?project=my-project-1554741846329&authuser=0">Учетные данные - My Project - Google API Console</a></td>
			<td><img src="http://favicon.yandex.net/favicon/feeder.co" alt=""></td>
			<td><a href="https://feeder.co/reader">Feeder</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://dashboard.heroku.com/apps">dashboard</a></td>
			<td><a href=""></a></td>
			<td><a href="https://bmrks.herokuapp.com/">bmrks</a></td>
			<td><a href=""></a></td>
			<td><a href="https://jadechat.herokuapp.com/">jadechat</a></td>
		</tr>
		
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://node-first-server.herokuapp.com/">node-first-server</a></td>
			<td><a href=""></a></td>
			<td><a href="https://nodechate.herokuapp.com/">nodechate</a></td>
			<td><a href=""></a></td>
			<td><a href="https://pychat01.herokuapp.com/">pychat01</a></td>

		</tr>
	</table>
	<p>audio</p>
	<table>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://habr.com/ru/post/323598/">Оцифровка звука на STM32 (АЦП+DMA) и кодирование в Speex для передачи / Хабр</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.youtube.com/watch?v=8jjN_HwPVno">(37) Python и Asterisk: инициируем звонок с помощью pycall - YouTube</a></td>
			<td><a href=""></a></td>
			<td><a href="https://serveradmin.ru/nastroyka-servera-telefonii-asterisk-s-nulya/">Настройка сервера телефонии asterisk с нуля</a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://www.rlocman.ru/review/article.html?di=91355">Звуковые возможности микроконтроллера STM32F</a></td>
			<td><a href=""></a></td>
			<td><a href="https://helloasterisk.ru/forum/index.php?topic=60.0">Asterisk под Windows | установка и настройка за 15 минут (видео)</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.youtube.com/watch?v=EudsEUFplSg">(37) Сетевой аудиоцентр за 5 минут на Raspberry Pi - YouTube</a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="http://we.easyelectronics.ru/STM32/vosproizvedenie-zvuka-na-stm32-discovery-pri-pomoschi-speex.html">Воспроизведение звука на STM32-Discovery при помощи Speex / STM32 / Сообщество EasyElectronics.ru</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.waveshare.com/wiki/ARPI600">ARPI600 - Waveshare Wiki</a></td>
			<td><a href=""></a></td>
			<td><a href="https://audiocoding.ru/formats/speex/">Формат Speex</a></td>
		</tr>
		<tr>
				<td><a href=""></a></td>
		<td><a href="https://arduinka.pro/modul/modul-s-mikrofonom-ky-038/?_openstat=bWFya2V0LnlhbmRleC5ydTvQnNC-0LTRg9C70Ywg0YEg0LzQuNC60YDQvtGE0L7QvdC-0LwgS1ktMDM3O2FzaDltdVF6WlAxMHNpOUhLd1EweHc7&frommarket=http%3A%2F%2Fmarket.yandex.ru%2Fpartner&ymclid=15549856696002895338400000">Модуль с микрофоном KY-037 | Arduinka.Pro</a></td>
			<td><a href=""></a></td>
			<td><a href="http://iltabiai.github.io/2018/03/17/rpi-stream.html">Stream Raspberry Pi microphone through Wifi</a></td>
			<td><a href=""></a></td>
			<td><a href="https://volumio.org/">Volumio - The Audiophile Music Player</a></td>

		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://elinux.org/index.php?title=RPi_Expansion_Boards#Sound">RPi Expansion Boards - eLinux.org</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.npmjs.com/package/node-rtp">node-rtp - npm</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><img src="img/soundwire.png" alt=""></td>
			<td><a href="http://georgielabs.net/">GeorgieLabs</a></td>
			<td><a href=""></a></td>
			<td><a href="https://www.youtube.com/watch?v=IsEw3FJKEJA">(37) How To Use An Android Phone/Tablet As A Speaker For Your PC - Stream Audio To Your Android Device - YouTube</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		<tr>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
	</table>	
		
		
		
			<table>
		<tr>
			<td><a href=""></a></td>
			<td><a href="https://zubyza1den.clinic/contacts/">Контакты клиники "Зубы за 1 день" в Санкт-Петербурге</a></td>
			<td><a href=""></a></td>
			<td><a href="https://vk.com/maste_r">Спортивный клуб фигурного катания MASTER</a></td>
			<td><a href=""></a></td>
			<td><a href=""></a></td>
		</tr>
		
	</table>
</body>
</html>