<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style type="text/css">
	body{font-family: "Arial";}
	td{border: 1px solid grey;}
	table{border-collapse: collapse;}
</style>
<body>
<table id="table_1">
	<tr>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
	</tr>
	<tr>
		<td>2</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>4</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>5</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>6</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>7</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>8</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>9</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>10</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>11</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>12</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>13</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>14</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>15</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>16</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>17</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>18</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>19</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>20</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>21</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>22</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>23</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>24</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>25</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>26</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>27</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>28</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>29</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>30</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>31</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>32</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>33</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>34</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>35</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>36</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>37</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>38</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>39</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>40</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>41</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>42</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>43</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>44</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>45</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>46</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>47</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>48</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>49</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>50</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>51</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>52</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>53</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>54</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>55</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>56</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>57</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>58</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>59</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>60</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
<pre id="id_str1" style="display: none">

1	1			Forward Parallel	монолайн двумя ногами	
2	1			Forward Monoline	монолайн	
3	1			Forward Criss-Cross	крискрос	
4	1			Backward Parallel	крискрос двумя ногами вслепую	
5	2			Backward Monoline	монолайн спиной	
6	2			Backward Criss-Cross	крискрос спиной	
7	2			Heel-Toe Forward Monoline	хилтой монолайн	
8	2			Toe-Toe Forward Monoline	той той монолайн	
9	2			Heel-Toe Forward Criss-Cros	хилтой крискрос	
10	2			Toe-Toe Forward Criss-Cross	той той крискрос	
11	3			Heel-Toe Backward Monoline	хилтой крискрос спиной	
12	3			Toe-Toe Backward Monoline’	той той монолайн спиной	
13	3			Heel-Toe Backward Criss-Crc	хилтой крискрос спиной	
14	3			Toe-Toe Backward Criss-Cro	той той крискрос спиной	
15	3			Grapevine	грейпвайн	
16	3			Грейпвайн с поворотом через лицевую сторону		
17	4			Грейпвайн с поворотом через спину		
18	4			Kickback	кикбек	
19	4			Cutback	катбек.	
20	4			Sun		
21	4			Mabrouk	мабрук	
22	4			Chap-Chap	мабрук без крискроса	
23	4			Forward Korean/Snake/Mono	ine Shopping Cart	
24	4			Backward Korean/Snake/Monoline Shopping Cart		
25	5			Double Korean/Snake/Monoline Shopping Cart		
26	5			Forward Italien	кораблик,разворот через той передней ноги,крискрос вперед	
27	5			Italien	задний крис-крос, инверсный объезд	
28	5			Total Cross	передний задний крискрос вращение в одну сторону	
29	6			Асинхронный Икс	икс с движением тела	
30	6			Икс (синхронный)	икс за счет ног	
31	6			Смена направления на Иксе	3 фишки туда 3 фишки обратно	
32	6			Смена стороны на Иксе	передняя нога на тое впереди разворот	
33	7			Forward One-Foot	одна нога	
34	7			Backward One-Foot	одна нога спиной	
35	7			Forward Eight	вольт вперед 2 фишки	
36	7			Russian Volt	вольт вперед	
37	8			Half-Volt	кикбек пол вольта	
38	8			Backward Eight	восьмерка наоборот	
39	8			(Backward) Volt	каждая фишка полвольта	
40	8			Forward Shopping Cart	шопингкарт	
41	8			Backward Shopping Cart	шопингкарт спиной	
42	8			Double Shopping Cart	спиной лицом	
43	9			Повороты на дабл шопингкг	спиной лицом с разворотом	
44	9			Wave	недокораблик	
45	9			Sidesurf	кораблик	
46	9			Independent	тупой кораблик	
47	9			Forward Inverse Shopping Cs	шкрт спиной задняя нога носком вперед	
48	10			Backward Inverse Shopping (	шкрт передняя нога носком назад	
49	10			Inverse	кораблик наоборот	
</pre>
<pre id="id_str21" style="display: none">
1	2	3	4
5	6	7	8
9	0	1	2
</pre>	
<script type="text/javascript">
var str = new String();
str1 = document.all.id_str1.innerText;
str1 = str1.trim();
var strr1 = str1.split("\n");
var m1 = [];
var m11 = [];
for(var i in strr1){
	strc1 = strr1[i].split("\t");
	m11 = [];
	for(var j in strc1){
		m11.push(strc1[j]);
	}
	m1.push(m11);
}	
//console.log(m1);
	
var array=[];
	
var rowCount=50, cellCount=6;
var table1= document.all.table_1;
for(var i=0; i<rowCount; i++){
	for(var j=0; j<cellCount; j++){
		table1.rows[i].cells[j].innerText = m1[i][j];
		if(i%3==0){
			table1.rows[i].cells[j].style.background ="#8fe";
		}
		if((i+1)%3==0){
			table1.rows[i].cells[j].style.background ="#bfe";
		}
		if((i+1)%3==0){
			table1.rows[i].cells[j].style.background ="#efe";
		}

	}
}	

	
//console.log(str1);	
	
</script>
</table>	
</body>
</html>