<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<base target="_blank">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		p {
			margin: 0px;
		}

		.b1 {
			border: dotted 1px;
		}
	</style>
</head>
<body>
<table>
	<tr>
	<td>1</td>
		<td><a href="http://icecast.vgtrk.cdnvideo.ru/mayakfm_mp3_64kbps">Маяк (1964) © ВГТРК</a></td>
		<td><a href="http://radiomayak.ru">radiomayak.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>2</td>
		<td><a href="http://audio2.video.ria.ru:80/voicerus">Sputnik (Московское радио, Голос России) </a></td>
		<td><a href="http://ria.ru">ria.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>3</td>
		<td><a href="http://icecast.vgtrk.cdnvideo.ru/rrzonam_mp3_64kbps">Радио России (1990) © ВГТРК</a></td>
		<td><a href="http://radiorus.ru">radiorus.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>4</td>
		<td><a href="http://icecast.vgtrk.cdnvideo.ru/kulturafm_mp3_64kbps">Радио Культура (2004) © ВГТРК</a></td>
		<td><a href="http://cultradio.ru">cultradio.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>5</td>
		<td><a href="http://icecast.vgtrk.cdnvideo.ru/vestifm_mp3_64kbps">Вести FM (2008) © ВГТРК</a></td>
		<td><a href="http://radiovesti.ru">radiovesti.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>6</td>
		<td><a href="http://rfe04.akacast.akamaistream.net/7/509/437762/v1/ibb.akacast.akamaistream.net/rfe04">Радио Свобода (1953) © RFE/RL, Inc.</a></td>
		<td><a href="http://svoboda.org">svoboda.org</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>7</td>
		<td><a href="http://kpradio.hostingradio.ru:8000/russia.radiokp32.mp3">Коммерсантъ FM (2010) © ИД «Коммерсантъ»</a></td>
		<td><a href="http://kommersant.ru/fm">kommersant.ru/fm</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>8</td>
		<td><a href="http://kpradio.hostingradio.ru:8000/russia.radiokp32.mp3">Радио Комсомольская правда (2009) © ИД «Комсомольская правда»</a></td>
		<td><a href="http://kp.ru/radio">kp.ru/radio</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>9</td>
		<td><a href="http://channels.fonotron.ru/stream/Chan_74_64.mp3">Орфей (1991) - Симфоническая музыка © ФГБУ «РГМЦ»</a></td>
		<td><a href="http://muzcentrum.ru/orpheusradio">muzcentrum.ru/orpheusradio</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>10</td>
		<td><a href="http://bookradio.hostingradio.ru:8069/fm">Радио Книга (2013) © ООО «Дом музыки»</a></td>
		<td><a href="http://radiokniga.com">radiokniga.com</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>11</td>
		<td><a href="http://chanson.hostingradio.ru:8041/chanson-uncensored128.mp3">Радио Шансон (2000) - Шансон без цензуры</a></td>
		<td><a href="http://radioshanson.fm">radioshanson.fm</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>12</td>
		<td><a href="http://ic2.101.ru:8000/v15_1">Радио Зенит (2007) © Радио «Зенит»</a></td>
		<td><a href="http://radiozenit.ru">radiozenit.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>13</td>
		<td><a href="http://213.59.4.27:8000/stream48.mp3">Серебряный дождь (1995)</a></td>
		<td><a href="http://silver.ru">silver.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>14</td>
		<td><a href="https://volna.top/station/russkoe-radio">Русское радио (1995) © РМГ</a></td>
		<td><a href="http://rusradio.ru">rusradio.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>15</td>
		<td><a href=""></a></td>
		<td><a href="http://"></a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>16</td>
		<td><a href="http://ic2.101.ru:8000/v5_1">Юмор FM (2005) © ГПМ Радио</a></td>
		<td><a href="http:// veseloeradio.ru"> veseloeradio.ru</a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td>17</td>
		<td><a href=""></a></td>
		<td><a href="http://"></a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td></td>
		<td><a href=""></a></td>
		<td><a href="http://"></a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td></td>
		<td><a href=""></a></td>
		<td><a href="http://"></a></td>
		<td><a href=""></a></td>
	</tr>
	<tr>
	<td></td>
		<td><a href=""></a></td>
		<td><a href="http://"></a></td>
		<td><a href=""></a></td>
	</tr>
</table>
<ol>
	<li>
		<p><a href=" http://icecast.vgtrk.cdnvideo.ru/mayakfm_mp3_64kbps
">Маяк (1964) © ВГТРК</a></p>
	</li>
	<li>
		<p><a href="http://icecast.vgtrk.cdnvideo.ru/rrzonam_mp3_64kbps">Радио России (1990) © ВГТРК</a></p>
	</li>
	<li>
		<p><a href="http://icecast.vgtrk.cdnvideo.ru/kulturafm_mp3_64kbps">Радио Культура (2004) © ВГТРК</a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
	<li>
		<p><a href=""></a></p>
	</li>
</ol>
	
</body>
</html>