<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Video</title>
	<style>
		.MyHomeVideo{
			position: relative;
			box-shadow: 0px 0px 10px #7878ff;
			z-index: 0;
		}
	</style>
</head>
<script>
	var videoPlayer;
	var video_count = 1;
	var count = 4;
	var string_01;
	var list;
	var files = [
		"",
		"month41.mp4",
		"month42.mp4",
		"month43.mp4",
		"month44.mp4",
	];
	console.log(files.length);
	window.onload = function(){
		var k=0;
		for(var i in files){
			var li = document.getElementById(''+k);
			li.innerText = files[i];
			k++;
		}
		videoPlayer = document.getElementById("homevideo");
		string_01 = document.getElementById("p_01");
		string_01.innerText = video_count+" : " +  "month41.mp4";
		//
		var paragraphs = [];
		for(var i=1;i<=count;i++){
			var paragraph = document.getElementById(i);
			paragraphs.push(paragraph);
		}	
		paragraphs.forEach(function(pp){
			pp.onclick = function(){
				console.log(pp.innerText);
				string_01.innerText= '' + pp.id + " : " + pp.innerText;
				videoPlayer.src="01baza/"+pp.innerText;
				for(var i=1;i<=count;i++){
					document.getElementById(i).style.color="black";
				}
				pp.style.color="blue";
				video_count = 0 + pp.id;
			}
		});
		videoPlayer.addEventListener("play", function(){
			console.log("Hello start");
		}, false);
		videoPlayer.addEventListener("ended", function(){
			console.log("Hello ended");
			video_count++;
			if(video_count==count+1)video_count=1;
			var nextVideo = "01baza/"+files[video_count];
			videoPlayer.src = nextVideo;
			for(var i=1;i<=count;i++){
				document.getElementById(i).style.color="black";
			}
			document.getElementById(video_count).style.color="blue";
			string_01.innerText = video_count+" : "+ nextVideo;
		}, false);
	}
</script>
<body  style="font-family: Arial;">
<p id = "p_01" style="font: 20px; font-family: Arial">
	1_6_1zmeyka_vpered.mp4
</p>
<div style="float: left;">
<video id="homevideo" class="MyHomeVideo" autoplay autobuffer controls width="500" src="01baza/month41.mp4"></video>
</div>
<ul style="display: none">
	<li id="01">HTML5 Canvas - Magic Mouse Move</li>
	<li id="02">Coding4NoScrolling</li>
	<li id="03">Создание Web приложения для IOS/Android</li>
	<li id="04"></li>
	<li id="05"></li>
</ul>
<div style="float: left; width: 300px;background: #eee; margin: 0px;">
<ul style="list-style-type: decimal;margin: 0px;">
	<li id="0" style="display: none;"></li>
	<li id="1" style="color: blue;"></li>
	<li id="2"></li>
	<li id="3"></li>
	<li id="4"></li>
</ul>
</div>	
</body>
</html>