<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		body{font-family: Arial;font-size: 20px;
		background: #ccf;}
		p{margin: 0px;}
		span{background: #fff;}
	</style>
</head>
<body>
<div class="c_01">
	<h3>Как добавить произведения авторов в электронную книжку</h3>
</div>
<div class="c_01">
<p>Посредством <span>кабеля</span> подключаемся к компьютеру.</p>
<p>На экране книжки наблюдаем:</p>
	<img src="imgbookel_01.jpg">
</div>
<div class="c_01">
<p>При первом подключении книжки к компьютеру происходит автоматическая установка драйверов(компьютер д.б. подключен к интернету)</p>
	<img src="imgbookel_02.jpg">
</div>
<div class="c_01">
<p>Жмем: продолжить без сканирования(по сути, что нажать значения не имеет)</p>
	<img src="imgbookel_03.jpg">
</div>
<div class="c_01">
<p>Жмем: Открыть папку для просмотра файлов.</p>
	<img src="imgbookel_04.jpg">
</div>
<div class="c_01">
<p>Видим содержимое книжки, куда перетаскиванием можно добавлять новые произведения.</p>
	<img src="imgbookel_05.jpg">
</div>
<div class="c_01">
<p>В книжку закладываются произведения в формате <span>*.fb3</span></p>
</div>
<div class="c_01"></div>
<div class="c_01"></div>
<div class="c_01"></div>
<div class="c_01"></div>
</body>
</html>