<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf8'>
<link rel="stylesheet" href="gallery.css" type="text/css" />
<META name='description' CONTENT='Мини галлерея на javascript'>
<META name='keywords' CONTENT=''>
<title>Мини галлерея </title>
<style type="text/css">

	.wrapper{
		width: 640px;
		height: 480px;
		margin: 10px auto;
	}
	
	.left_right{
		position: absolute;
		display: none;
		cursor: pointer;
		margin: -288px 0 0 10px;
	}

</style>
</head>
<body>

	<div onMouseOver="btn_show()" onMouseOut="btn_noshow()" class="wrapper">
	
			<script type="text/javascript">  
			
						//Массив, в котором содержатся ссылки на изображения
				var imageArray = [
					"images/001 Tvoj den' - Vlyublennyj maj.jpg",		
					"images/002 Evils toy - Strange modern art.jpg",		
					"images/003 S. Rotaru - Lavanda.jpg",		
					"images/004 Secret service - Ten oclock postman.jpg",
					"images/005 A. Varum - Lya-lya-fa.jpg",
					"images/006 DJ Bobo - Somebody dance with me.jpg",
					"images/007 A. Dobrynin - Rozovye rozy.jpg",
					"images/008 Chris Norman - Hunters of the night.jpg",
					"images/009 Ajvazov - Lilii.jpg",
					"images/010 Capella - U got 2 let the music.jpg",
					"images/011 Bad Boys Blue - Pretty young girl.jpg",
					"images/012 N. Gul'kina - Kitaj.jpg",
					"images/013 Ace of base - All that she wants.jpg",
					"images/014 T. Bulanova - YAsnyj moj svet.jpg",
					"images/015 Joy - Touch by touch.jpg",
					"images/016 ZH. Belousov - Devochka moya sineglazaya.jpg",
					"images/017 E-Type - Russian lullaby.jpg",
					"images/018 I. Nikolaev - Pozdravlyayu.jpg",
					"images/019 Yaki-da - I saw you dancing.jpg",
					"images/020 Fristajl - ZHeltye rozy.jpg",

					"images/021 Fancy - Flames of love.jpg",
					"images/022 Kaj Metov - Position 2.jpg",
					"images/023 Status Quo - In the army now.jpg",
					"images/024 Feya - Vypal sneg.jpg",
					"images/025 Technotronic - This beat is Technotronic.jpg",
					"images/026 A. Apina - Ksyusha.jpg",
					"images/027 Pet shop boys - Its a sin.jpg",
					"images/028 Levostoronnee dvizhenie - CHao, bambino.jpg",
					"images/029 Boney M - Daddy cool.jpg",
					"images/030 R. ZHukov - YA lyublyu vas devochki.jpg",
					"images/031 Sabrina - Boys.jpg",
					"images/032 Bozh'ya korovka - Teplohod.jpg",
					"images/033 Fun factory - Doh Wah Diddy.jpg",
					"images/034 Anons - Olya i Spid.jpg",
					"images/035 Edelweiss - To the mountain top.jpg",
					"images/036 Veselye rebyata - Ne volnujtes' tetya.jpg",
					"images/037 Radiorama - Desire.jpg",
					"images/038 Kar-Mehn - Parizh.jpg",
					"images/039 Silent circle - Touch in the night.jpg",
					"images/040 N. Vetlickaya - Playboy.jpg",
"images/041 Haddaway - What is love.jpg",
"images/042 S. Razina - Ty budesh' moj.jpg",
"images/043 Desireless - Voyage voyage.jpg",
"images/044 Tekhnologiya - Nazhmi na knopku.jpg",
"images/045 E-Type - Set the world on fire.jpg",
"images/046 SHaherezada - Samuraj.jpg",
"images/047 Mr. President - Coco Jambo.jpg",
"images/048 M. Boyarskij - Zelenoglazoe taksi.jpg",
"images/049 Corona - Baby baby.jpg",
"images/050 SHokolad - Kak mne zhal'.jpg",
"images/051 Captain Jack - Dream a dream.jpg",
"images/052 NeIgrushki - Sto dnej do prikaza.jpg",
"images/053 Real McCoy - A noter night.jpg",
"images/054 SHerif - Teplyj dozhd'.jpg",
"images/055 Vanessa Paradise - Joe le taxi.jpg",
"images/056 Karolina - Diskobar.jpg",
"images/057 Ice MC - Its a rainy day.jpg",
"images/058 Zemlyane - Trava u doma.jpg",
"images/059 Modo - 1,2,polizei.jpg",
"images/060 Forum - Belaya noch'.jpg",
"images/061 Baccara - Yes Sir I can Boogie.jpg",
"images/062 Laskovyj byk - Pacany.jpg",
"images/063 Danny Keith - Keep on music.jpg",
"images/064 Displej - SHepot zvezd.jpg",
"images/065 Opus - Life is life.jpg",
"images/066 A. Barykin - Buket.jpg",
"images/067 Roger Meno - What my heart wanna say.jpg",
"images/068 Nika - Karie glaza.jpg",
"images/069 Video Kids - Do the rap.jpg",
"images/070 S. Razina - Babochka-noch'.jpg",
"images/071 La bouche - Be my lover.jpg",
"images/072 Malen'kij princ - My vstretimsya snova.jpg",
"images/073 Bad boys blue - Youre a woman.jpg",
"images/074 I. Kornelyuk - Dozhdi.jpg",
"images/075 Ken Lazlo - 1,2,3,4,5,6,7.jpg",
"images/076 Adrenalin - Kovylyaj potihonechku.jpg",
"images/077 Masterboy - Generation of love.jpg",
"images/078 EHlektronnyj mal'chik - Devushka s Urala.jpg",
"images/079 Solid Bace - This is how we do it.jpg",
"images/080 YU. Antonov - Ot pechali do radosti.jpg",
"images/081 Fun fun - Happy station.jpg",
"images/082 Kolledzh - Moj milyj angel.jpg",
"images/083 Radiorama - Yeti.jpg",
"images/084 Professor Lebedinskij - Begut goda.jpg",
"images/085 Fun factory - Dont go away.jpg",
"images/086 Zvezdy - Diskoteka.jpg",
"images/087 Eiffel 65 - Blue (Da Ba Dee).jpg",
"images/088 V. Markin - Kolokola.jpg",
"images/089 Bam Bee - Bam Bam Bam.jpg",
"images/090 M. Nasyrov - Mal'chik hochet v Tambov.jpg",
"images/091 2 unlimited - No limits.jpg",
"images/092 Lada Dehns - ZHit' nuzhno v kajf.jpg",
"images/093 Vanilla Ice - Ice ice baby.jpg",
"images/094 Aramis - Devochka zhdet, mal'chik ne idet.jpg",
"images/095 Saphir - Storm of love.jpg",
"images/096 A. Gubin - Liza.jpg",
"images/097 2 brothers on the 4th floor - Living in Cyberspace.jpg",
"images/098 Nehnsi - Dym sigaret s mentolom.jpg",
"images/099 Moon Ray - Comanchero.jpg",
"images/100 S. Vladimirskaya - Mal'chik moj.jpg",
"images/101 Secret Service - Flash in the night.jpg",
"images/102 Mirazh - YA ne hochu.jpg",
"images/103 Jessica Jay - Casablanca.jpg",
"images/104 R. ZHukov - Mlechnyj put'.jpg",
"images/105 Blue system - My bed is too big.jpg",
"images/106 Feya - Moj veter.jpg",
"images/107 Paradiso - Bailando.jpg",
"images/108 YU. Loza - Plot.jpg",
"images/109 Toto Cutugno - LItaliano.jpg",
"images/110 Metropol' - YUzhnyj gorod.jpg",
"images/111 Linda Jo Rizzo - Heartflash.jpg",
"images/112 Kristina - Kristina.jpg",
"images/113 E-Rotic - Dr. Love.jpg",
"images/114 I. Allegrova - Fotografiya.jpg",
"images/115 Culture beat - Crying in the rain.jpg",
"images/116 Kar-Mehn - Chao bambina.jpg",
"images/117 Scotch - Disco band.jpg",
"images/118 A. Glyzin - Zimnij sad.jpg",
"images/119 Masterboy - Feel of the night.jpg",
"images/120 Na-na - Faina.jpg",
"images/121 Silicon dream - Corleone speaking.jpg",
"images/122 Ledi - Na diskoteke.jpg",
"images/123 Aqua - Barbie girl.jpg",
"images/124 Russkij razmer - YUayu.jpg",
"images/125 GiGi DAgostino - The riddie.jpg",
"images/126 M. ZHuravleva - Belaya cheremuha.jpg",
"images/127 MC Hammer - U cant touch this.jpg",
"images/128 Zabytyj razgovor - Arabskoe zoloto.jpg",
"images/129 No mercy - Please dont go.jpg",
"images/130 M. Muromov - YAbloki na snegu.jpg",
"images/131 Digital emotion - Go go yellow screen.jpg",
"images/132 A. Apina - Lekha.jpg",
"images/133 KLF - Last train to trancentral.jpg",
"images/134 SHokolad - Ulybnis'.jpg",
"images/135 Teach in - Ding dong.jpg",
"images/136 Anons - Huligan.jpg",
"images/137 Gazebo - I like Chopin.jpg",
"images/138 Natali - Schitalochka.jpg",
"images/139 Ice MC - Think about the way.jpg",
"images/140 Karolina - Zvezdnyj vecher.jpg",
"images/141 Dr. Alban - Its my life.jpg",
"images/142 Bozh'ya korovka - Granitnyj kamushek.jpg",
"images/143 Real McCoy - Love & Devotion.jpg",
"images/144 N. Vetlickaya - Posmotri v glaza.jpg",
"images/145 Imperio - Cyberdream.jpg",
"images/146 SHaherezada - Komandir polka.jpg",
"images/147 Kaoma - Lambada.jpg",
"images/148 T. Bulanova - Ne plach'.jpg",
"images/149 Maxx - No more.jpg",
"images/150 N. Gul'kina - Ajvengo.jpg",
"images/151 Fun factory - Take your chance.jpg",
"images/152 V. Dobrynin - Ne syp' mne sol' na ranu.jpg",
"images/153 Boney M - Ma Baker.jpg",
"images/154 Laskovyj maj - Vecher holodnoj zimy.jpg",
"images/155 Silent circle - 2 night.jpg",
"images/156 A.Pugacheva - Nado ZHe.jpg",
"images/157 Danuta - Touch my heart.jpg",
"images/158 Levostoronnee dvizhenie - Ne nado slez.jpg",
"images/159 Pet shop boys - New York city boy.jpg",
"images/160 ZH. Belousov - Devchonka-devchonochka.jpg",
"images/161 Alphaville - Big in Japan.jpg",
"images/162 I. Nikolaev - Mel'nica.jpg",
"images/163 Masterboy - Give me your love.jpg",
"images/164 Kaj Metov - Ty prosnesh'sya bez menya.jpg",
"images/165 Mr. President - Happy people.jpg",
"images/166 Kombinaciya - Vstrecha na Manezhnoj.jpg",
"images/167 La Bouche - SOS.jpg",
"images/168 S. Vasyuta i gr. Sladkij son - Bosonogaya devchonka.jpg",
"images/169 Blue system - Romeo & Juliet.jpg",
"images/170 Tekhnologiya - Strannye tancy.jpg",
"images/171 Vengaboys - Sha la la la la.jpg",
"images/172 Fristajl - Ah kakaya zhenshchina.jpg",
"images/173 Gina T - Tokyo by night.jpg",
"images/174 SHerif - Ne uhodi.jpg",
"images/175 Boytronic - I will survive.jpg",
"images/176 R. ZHukov - Devchonki moi devchonki.jpg",
"images/177 Sandra - In the heat of the night.jpg",
"images/178 Ivanushki Int - Topolinyj puh.jpg",
"images/179 Shaft - Mambo italiano.jpg",
"images/180 V. Stashevskij - Pozovi menya v nochi.jpg",
"images/181 Digital emotion - Get up action.jpg",
"images/182 Samocvety - Vse chto v zhizni est' u menya.jpg",
"images/183 Mike Mareen - Agent of liberty.jpg",
"images/184 Mirazh - Zvezdy nas zhdut.jpg",
"images/185 Captain Hollywood - More and more.jpg",
"images/186 I. Sklyar - Komarovo.jpg",
"images/187 Heath hunter - Revolution in paradise.jpg",
"images/188 T. Ovsienko - Kapitan.jpg",
"images/189 L. A. Style - Got to move.jpg",
"images/190 Feya - Princessa mechty.jpg",
"images/191 Modern Talking - Brother Louie.jpg",
"images/192 S. Vasyuta i gr. Sladkij son - Na belom pokryvale yanvarya.jpg",
"images/193 Magic affair - Energy of light.jpg",
"images/194 Natali - Veter s morya dul.jpg",
"images/195 Savage - Only you.jpg",
"images/196 Kombinaciya - Dva kusocheka kolbaski.jpg",
"images/197 Ice MC - Give me the light.jpg",
"images/198 Mirazh - Muzyka nas svyazala.jpg",
"images/199 C.C.Catch - Strangers by night.jpg",
"images/200 Laskovyj maj - Belye rozy.jpg",
"images/201 Lirika (feat. Masha).jpg",
					
					];
				
				window.number = '0';

							//Привязываем количество картинок к размеру массива
				var imageCount = imageArray.length;
								
				function image(num){
				
						//Если выбрана следующая картинка
					if(num == 1){
					
							//Если это последняя картинка, то не увеличиваем счетчик number
						if(number < imageCount - 1){
						
							number++;

							document.getElementById('images').src = imageArray[number];
							var str = imageArray[number];
							var str1 = str.replace(/(?:images\/)/,"");
							var str2 = str1.replace(/(?:.jpg)/,"");
							var str3 = str2.replace(/(?:[0-9]{3,})/, "");
							document.getElementById('num_img').innerHTML= number + 1 + '/' + imageCount + " " +
							str3;
						}
					}					 
					else{  //Если выбрана предыдущая картинка
					
								//Если это первая картинка, то не уменьшаем счетчик number
						if(number > 0){
						
							number--;
							document.getElementById('images').src = imageArray[number];
							var str = imageArray[number];
							var str1 = str.replace(/(?:images\/)/,"");
							var str2 = str1.replace(/(?:.jpg)/,"");
							var str3 = str2.replace(/(?:[0-9]{3,})/, "");
							document.getElementById('num_img').innerHTML= number + 1 + '/' + imageCount + " " +
							str3;
						}
					}
				}
				
						//Функция для показа стрелочек
				function btn_show(){

					if(number != 0) document.getElementById('left').style.display='block';
					if(number != imageCount - 1) document.getElementById('right').style.display='block';
				}
				
						//Функция, которая прекращает показ стрелочек
				function btn_noshow(){

					document.getElementById('left').style.display='none';
					document.getElementById('right').style.display='none';
				}
					
					//Выводим картинки
				document.write('<img id="images" src="' + imageArray[0] + '"width = "700px" height = "500px"'+ '>');

			</script>

						<!-- Стрелочка влево -->
		<div id="left" onclick="image(0)" class="left_right"><img src="left.png"></div>
					
						<!-- Стрелочка вправо -->
		<div id="right" onclick="image(1)" class="left_right" style="margin-left: 534px; position: absolute; display: none;"><img src="right.png"></div>
			
	</div>

	<center><p style="font-size: 25px;color: #333;font-weight: bold;margin:16px 5px 1px 5px" id="num_img">1/201</p></center>
	
	<center><span class="myButton" onclick="image(0)">Back</span> <span class="myButton"  onclick="image(1)">Next</span></center>
	
	<a href="#" style="margin-left: 50px;" class="myButton">Вернуться к статье</a>  
	
	<a style="float: right; margin-right: 50px;" class="myButton"  href="#"></a>
	
</body>
</html>