<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		body{font-family: Arial;
		font-size: 20px;}
		p{margin: 0px;}
		h3{margin: 0px;}
		div{border: dotted 1px;}
	</style>
	<script>
function goto(page){
	var elm=document.getElementsByName(page)[0];
	var y = elm.getBoundingClientRect().y;
	var y1 = window.pageYOffset;
	window.scrollTo(0,y+y1);
	return false;
}	
	</script>
</head>
<body>
<p><a href="#" onclick="goto('soft');return false;">
soft</a>
<a href="#" onclick="goto('dictionary');return false;">
словарь</a>

</p>
<div>
	<p>Python. Уровень 1. Базовый курс</p>
	<div>
		<div>
		<p>1.mp4</p>
<p>int('22')</p>
<p>len('john')</p>
<p># - комментарий</p>
<p>name =  input('your name? ')</p>
<p>print('your name ' + name)</p>
<p>print('hello,{}'.format(name)</p>
<p>w=2</p>
<p>h=3</p>
<p>s = f'square = {w}x{h} = {w * h}'</p>
<p>print(s)</p>			
			
		</div>
<div>
			<p>2.mp4</p>
		</div>
		<div>
			<p>3.mp4</p>
		</div>
		<div>
			<p>4.mp4</p>
		</div>
		<div>
			<p>5.mp4</p>
		</div>		
	</div>
</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus soluta ratione mollitia iusto, aliquid beatae, culpa delectus numquam obcaecati quidem! Odit possimus, harum tempora sapiente hic excepturi quo fugiat aut?</div>
<div>Perspiciatis hic est iure laborum odio molestias rerum delectus dolorum, suscipit, nihil, aspernatur accusantium illum dolore aperiam fuga harum recusandae magnam vero ipsam doloribus. Dicta, ab fuga illum nulla dolorem!</div>
<div>Vel quaerat ut veritatis quisquam, quod obcaecati voluptatibus, itaque totam, accusantium voluptas, error nulla rerum. Debitis iusto deleniti repellat! Dignissimos libero alias, esse porro! Velit asperiores odio ut accusamus dolorum!</div>
<div>Odio laborum minima, repudiandae itaque necessitatibus voluptate quae dolor labore exercitationem tempora maiores! Repellendus, ab perferendis. Harum a amet laborum quia aspernatur odio quibusdam sed soluta repellendus, aut nostrum error!</div>
<div>Dolorum alias molestiae soluta earum est amet iusto, ea velit laboriosam, pariatur, consequatur dolor sapiente fugiat numquam nesciunt voluptatem aspernatur, sed porro quidem! Eligendi deleniti, hic eaque, pariatur consequuntur assumenda.</div>
<div>Sint sed optio id autem, rem temporibus animi nam. Non magnam, eaque labore rerum provident porro dolore quasi eveniet eius, sunt totam, doloribus dignissimos necessitatibus odio quas quaerat cum adipisci.</div>
<div>Non possimus ducimus quos eligendi eius soluta asperiores quia veniam in pariatur architecto aliquid maxime iste, minus reprehenderit quibusdam illum, ab ex. Maxime voluptates, dolorum ipsum optio voluptas cupiditate quisquam!</div>
<div>Molestiae beatae eum ullam accusantium dolore quo optio quisquam odit, officia deserunt facere modi harum, alias. Amet, deleniti dolore, et totam sint laborum soluta explicabo dolorem expedita praesentium quidem ad.</div>
<div>Facilis commodi consectetur, corrupti dicta qui, repellendus ab debitis magnam. Autem sapiente dolorum amet similique consequatur, explicabo, officiis fuga expedita assumenda numquam neque. Architecto, obcaecati doloribus! Sit fuga delectus cupiditate.</div>
<div>Fuga in quis possimus itaque dicta quam distinctio enim deserunt accusamus blanditiis! Architecto quae consectetur minima nemo voluptate ullam, necessitatibus, sit praesentium consequatur tenetur, fugiat explicabo adipisci dignissimos enim. Laborum!</div>

<div name="soft"><h3>soft</h3>
<p>Thony</p>
<p>jupiter</p>
<p></p>
<p></p>	
</div>
<div name='dictionary'><h3>словарь</h3>
<span>square</span>		
<span>dictionary</span>		
	</div>
<script>
	
</script>
</body>
</html>