<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<table>
	<tr>
		<td>1</td>
		<td><a href="rm02devweb.html">Разработка сайтов
Образовательный портал GeekBrains
</a></td>
		<td>prjother/088cssgeek/2devsites/rm02.html</td>
		<td></td>
	</tr>
	<tr>
		<td>2</td>
		<td><a href="rm02php.html">PHP. Быстрый старт.</a></td>
		<td>prjother/088cssgeek/502php/rm02.html</td>
		<td></td>
	</tr>
	<tr>
		<td>3</td>
		<td><a href="rm01db.html">SQLite, MySQL и PostgreSQL</a></td>
		<td>prjother/088cssgeek/039sql/database/rm01db.html</td>
		<td></td>
	</tr>
	<tr>
		<td>4</td>
		<td><a href="../gbrnslst01.html">GeekBrains list</a></td>
		<td>prjother/089hosts/httpzzklcomua/template/gbrnslst01.html</td>
		<td></td>
	</tr>
	<tr>
		<td>5</td>
		<td><a href="../bstr/rmbstr02.html">Первые шаги Bootstrap [GeekBrains]</a></td>
		<td>prjother/088cssgeek/112bstap/rm02.html</td>
		<td></td>
	</tr>
	<tr>
		<td>6</td>
		<td><a href="rmjqw.html">jqwery</a></td>
		<td>prjother/085web/js3/0prj/rm02.html</td>
		<td></td>
	</tr>
	<tr>
		<td>7</td>
		<td><a href="coppercam02.html">coppercam02</a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>8</td>
		<td><a href="jscript/rm01js.html">jscript</a></td>
		<td>toTable mailto </td>
		<td></td>
	</tr>
	<tr>
		<td>9</td>
		<td><a href="python/rm02py.html">python</a></td>
		<td>prjother/017python/utils/rm02py.html</td>
		<td></td>
	</tr>
	<tr>
		<td>10</td>
		<td><a href="rm02ast.html">asterisk</a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>11</td>
		<td><a href="rm14sm235.html">Samsung Tab отладка USB</a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>12</td>
		<td><a href="#"></a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>13</td>
		<td><a href="#"></a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>14</td>
		<td><a href="#"></a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>15</td>
		<td><a href="#"></a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>16</td>
		<td><a href="#"></a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>17</td>
		<td><a href="#"></a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>18</td>
		<td><a href="#"></a></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>19</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>20</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
	
</body>
</html>