<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<base target="_blank">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		p {
			margin: 0px;
		}
	</style>
</head>

<body>
	<div class="container">

		<ol>
			<li><p><a href="https://www.youtube.com/watch?v=bxPz3_8HLT4&list=PLmRNNqEA7JoNDLWApDDGrhTtjb3l4C5lf">Простая разработка мультиязычных сайтов на Wordpress</a></p></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li>
				<p><a href="https://www.youtube.com/watch?v=ljj0u5DZ7so&list=PLmRNNqEA7JoNDLWApDDGrhTtjb3l4C5lf&index=13">HTML/CSS шаблоны для систем управления сайтами</a></p>
				<ol>
					<li>- Есть ли различия между HTML-макетом и динамическим сайтом?</li>
					<li>- Что такое интерактивный сайт и что стоит предусмотреть верстальщику в них?</li>
					<li>- Как сделать так, чтобы шаблон не развалился в боевых условиях?</li>
				</ol>
				<p>Разработка сайтов</p>
				<p>HTML/CSS шаблоны для систем управления сайтами</p>
				<p>языков</p>
			</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	</div>
</body></html>