<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<base target="_blank">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		p {
			margin: 0px;
		}
	</style>
</head>
<body>
	<div class="container">
	<p>HTML/CSS шаблоны для систем управления сайтами</p>
	<p>useful web</p>
	<p>CMS - Content Management System - система управления сайтами</p>
	<p>Фреймворк - WordPress</p>
	<p><a href="https://www.opensourcecms.com/">https://www.opensourcecms.com/</a></p>
	<p><a href="https://www.opensourcecms.com/wordpress/">https://www.opensourcecms.com/wordpress/</a></p>
	<p><a href="https://s1.demo.opensourcecms.com/s/39">Main Page:</a></p>
	<p></p>
	<p></p>
	<p><a href="https://s1.demo.opensourcecms.com/wordpress/wp-login.php">Admin Page</a></p>
	<p>wordpress - для блогов</p>
	<p>posts Add New</p>
	
	<p>Sample post lorem*5 [Publish]</p>
	<p><a href="https://s1.demo.opensourcecms.com/wordpress/2019/05/19/sample-post/">https://s1.demo.opensourcecms.com/wordpress/2019/05/19/sample-post/</a></p>
	<p>Appearance Themes</p>
	<p><a href="https://ru.wordpress.org/"></a>Русский wordpress</p>
	<p>Виджет</p>
	<p><a href="https://callbackhunter.com/">CallbackHunter – виджет обратного звонка и чатов</a></p>
	<img src="imgcallback.png" alt="">
	<p>Статические сайты</p>
	<p>Динамические сайты</p>
	<p>html free template</p>
	<p><a href="https://www.free-css.com/">free-css.com</a></p>
	<p><a href="https://www.free-css.com/free-css-templates/page239/fluid-gallery">fluid-gallery</a></p>
	<p>slidefolio</p>
	            <p class="lead">Lorem ipsum dolor sit amet, ei essent delenit sit, adipisci salutatus has eu. Quis tamquam cu nam. Sed esse deleniti et, ex rebum quaestio his. Audiam deseruisse sed cu, vix ex possim causae omittantur.</p>
	<p>?=file_get_contents(dirname(__FILE__).'/about_us.html')?</p>
	<p>Карусель</p>
	<p><a href="https://owlcarousel2.github.io/OwlCarousel2/">Owl Carousel 2</a></p>
	<p>Touch enabled jQuery plugin that lets you create a beautiful responsive carousel slider.</p>
	<p></p>
	<p></p>
	<p></p>
	<hr>
	<table>
		<tr>
			<td>howdy</td>
			<td>привет</td>
			<td>Appearance</td>
			<td>Внешний вид</td>
			<td>Themes</td>
			<td>темы</td>
			<td>fluid </td>
			<td>жидкость</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	</div>
</body>
</html>