<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body{font-family: Arial;}
        p{margin: 0px;}
        td{border: 1px dotted;}
        span{border: 1px dotted;
        background-color: silver;}
    </style>
    <p>jqwery</p>
    <ol>
        <li><P>cdn</P>
        <p>Content Delivery Network — сеть доставки контента</p>
        <p>CDN сети Google  — браузер выбирает максимально близко расположенный к ПК</p>
        </li>
        <li><span>$("ul li")</span>
        <span>$("ul li").eq(0).text()</span>
        <span>$("ul li").css("color")</span>
        <span>$("ul li").css("background-color","green").css("color","white")</span>
        <p>    .mylist{
        background-color: white;
        border: dotted 1px;
    }</p>
        <span>$("ul li").addClass("mylist")</span>
        <span>$("ul li:first-child")</span>
        <span>$("ul li:first")</span>
        <span>$("ul li:last")</span>
        <span>$("ul li:odd").addClass("mylist")</span>
        <span>$("ul li:even")</span>
        <span>if($("li:first").is(".mylist"))
                    console.log("Yes mylist")
                else
                    console.log("No mylist")</span>
        <span>$("li:first").is(":contains('Первый')")</span>
        <span>$("li:first").is(":visible")</span>
        <p>var lis = $("li")</p>
        <span>var mylist = lis.filter(".mylist")</span>
        <span>var notlist = lis.not(".mylist")</span>
        <span>$("ul li:even").addClass("mylist")</span>
        <span>lis.has("span")</span>
        <span>var notlist = lis.not(":has(strong.x)")</span>
        <span>$("ul li").toggleClass("mylist")</span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <p></p>
    <ol>
        <li  style="float: left;margin-left:  25px;"></li>
        <li  style="float: left;margin-left:  25px;"></li>
        <li  style="float: left;margin-left:  25px;"></li>
        <li  style="float: left;margin-left:  25px;"></li>
        <li  style="float: left;margin-left:  25px;"></li>
        <li  style="float: left;margin-left:  25px;"></li>
    </ol><br>
    <table>
        <tr>
            <td>descendant</td>
            <td>потомок</td>
            <td>ancestor</td>
            <td>предок</td>
            <td>toggle</td>
            <td>переключатель</td>
            <td>span</td>
            <td>промежуток</td>
        </tr>
        <tr>
            <td>odd</td>
            <td>не четный</td>
            <td>even</td>
            <td>четный</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</head>
<body>
    
</body>
</html>