<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<!--две пары в таблицу 400tab_2p -->
<div>
	<table id="table1">
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	</table>
</div>
<div>
<pre id="pre" style="display: none;">
CTRL + R	
Копирование в буфер обмена и повторение команды вставки выбранных объектов (Rubber Stamp, резиновый штамп).
CTRL + R then ESC	
Повторный вход в режим Rubber Stamp с текущим содержимым буфера обмена.
CTRL + Q	
Доступ к диалогу Selection Memory (память выбранного).
ALT	
Фиксация перемещения объекта горизонтально или вертикально.
DELETE	
Удалить выбранное.
V, D	
Просмотр документа.
V, F	
Просмотр размещенных с подгонкой (fit placed) объектов.
X, A	
Повторно выбрать все.
Right-click & hold	
Отобразит инструмент "рука", чтобы смещать вид.
Left-click	
Выбор / отмена выбора объекта под курсором.
Right-click	
Отобразить контекстное меню, или выход из текущей операции.
Right-click на объекте, выбрать Find Similar	
Загрузить объект под курсором в диалог Find Similar Objects (найти похожие объекты).
Left-click, hold & drag	
Выбрать объекты в очерченной курсором зоне.
Left-click & hold	
Переместить объект / выбранные объекты под курсором.
Left Double-click	
Редактировать объект.
SHIFT + Left-click	
Добавить / удалить объект в / из набора выбранных объектов.
TAB	
Редактировать атрибуты во время размещения.
SHIFT + C	
Очистка текущего фильтра (Filter).
SHIFT + F	
Клик на объекте для отображения диалога Find Similar Objects (найти аналогичные объекты).
Y	
Вызов всплывающего меню быстрых запросов (Quick Queries).
F11	
Переключение панели инспектора (Inspector) из состояния включено в состояние выключено и обратно.
F12	
Переключение панели фильтра (Filter) из состояния включено в состояние выключено и обратно.
SHIFT + F12	
Переключение панели List из состояния включено в состояние выключено и обратно.
ALT + F5	
Переключение из полноэкранного режима в оконный и обратно.
, Left-click	
Cross probe - показать соответствующий объект в целевом документе, оставаясь на исходном документе.
, CTRL + Left-click	
Cross probe и переход на соответствующий объект на цели, с переключением на документ цели.
SHIFT + CTRL + T	
Выравнивание выбранных объектов по верхним краям.
SHIFT + CTRL + L	
Выравнивание выбранных объектов по левым краям.
SHIFT + CTRL + R	
Выравнивание выбранных объектов по правым краям.
SHIFT + CTRL + B	
Выравнивание выбранных объектов по нижним краям.
SHIFT + CTRL + H	
Равномерно распределить выбранные объекты по горизонтали.
SHIFT + CTRL + V	
Равномерно распределить выбранные объекты по вертикали.
SHIFT + CTRL + D	
Выровнять выбранные объекты по решетке.
CTRL + n (n=1 to 8)	
Сохранить текущий выбор в ячейку памяти n.
ALT + n (n=1 to 8)	
Вспомнить выбор из ячейки памяти n.
SHIFT + n (n=1 to 8)	
Добавить текущий выбор в уже сохраненное в ячейке n.
SHIFT + ALT + n (n=1 to 8)	
Вспомнить выбранное из ячейки памяти n и добавить это к текущему выбранному.
SHIFT + CTRL + n (n=1 to 8)	
Применить фильтрацию, основываясь на наборе выбранного в ячейке памяти n.




</pre>
<script>
var pre = document.getElementById("pre");
var txt = pre.innerText;
txt = txt.trim();
var list = txt.split("\n");
var k=0, r=0
var table1 = document.all.table1;
list.forEach(function(i){
	if(k%2==0){
		table1.rows[r].cells[0].innerText = list[k];
	}else{
		table1.rows[r].cells[1].innerText = list[k];
		r++;
	}
	k++;
});
//table1.rows[0].cells[0].innerText = "11";
//table1.rows[2].cells[1].innerText = "21";
console.log(table1);
	
</script>	
</div>	
</body>
</html>