<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<!--две колонки в таблицу 400tab_2td-->
<div id = "ref_129" style="display: none;">ref_129</div>
<div style="display: none;">
	<table class="table_two">
		<tr>
			<td>



<p>When you're feeling all right</p>
<p>Everything is upt-ight</p>
<p>Try to sing a song that goes Ding-Ding-A-Dong.</p>
<p>There will be no sorrow</p>
<p>When you sing tomorrow</p>
<p>And you walk along with your Ding-Ding-Dong.</p>
<p>Dinge-Dong</p>
<p>every hour</p>
<p>when you pick a flower</p>
<p>Even when your lover is gone</p>
<p>gone</p>
<p>gone.</p>
<p>Dinge-Dong</p>
<p>listen to it</p>
<p>maybe it's a big hit.</p>
<p>Even when your lover is gone</p>
<p>gone</p>
<p>gone</p>
<p>sing Ding-Ding-Dong.</p>
<p>Источник teksty-pesenok.ru</p>
<p>When you're feeling all right . . .</p>
<p>And the world looks sunny</p>
<p>Everyone is funny</p>
<p>When they sing a song that goes Ding-Ding-Dong.</p>
<p>Dinge-Dong</p>
<p>every hour . . .</p>
<p>Ding-Dang-Dong</p>
<p>Dinge-Dang-Dong</p>
<p>When you think it's all over</p>
<p>They let me down;</p>
<p>Dry your tears and forget all your sorrow</p>
<p>Try to smile when you'tl say good-bye.</p>
<p>Ding-Dang-Ding-Dong</p>
<p>Ding-Dong-Dong</p>
<p>When you wake up tomorrow</p>
<p>Well</p>
<p>the sun is up in the sky.</p>
<p>When you're feeling all right . . .</p>

					
						</td>
						<td>


<p>Когда вы чувствуете себя хорошо</p>
<p>Все UPT-РАВО</p>
<p>Попробуй спеть песню, которая идет Ding-Ding-A-Dong.</p>
<p>Там не будет скорби</p>
<p>Когда вы поете завтра</p>
<p>И вы идете вместе с Ding-Ding-Dong.</p>
<p>Dinge-Dong</p>
<p>Каждый час</p>
<p>При сорвать цветок</p>
<p>Даже тогда, когда ваш любовник ушел</p>
<p>ушел</p>
<p>ушла.</p>
<p>Dinge-Dong</p>
<p>слушать его</p>
<p>может быть, это большой успех.</p>
<p>Даже тогда, когда ваш любовник ушел</p>
<p>ушел</p>
<p>ушел</p>
<p>петь Ding-Ding-Dong.</p>
<p>Источник teksty-pesenok.ru</p>
<p>Когда вы чувствуете себя хорошо. . .</p>
<p>И мир выглядит солнечное</p>
<p>Все это смешно</p>
<p>Когда они поют песню, которая идет Ding-Ding-Dong.</p>
<p>Dinge-Dong</p>
<p>каждый час. . .</p>
<p>Ding-Dong Dang-</p>
<p>Dinge-Dang-Dong</p>
<p>Когда вы думаете, что все кончено</p>
<p>Они подвели меня;</p>
<p>Вытри слезы и забыть все ваши скорби</p>
<p>Попробуйте улыбаться, когда you'tl попрощаться.</p>
<p>Ding-Dang-Ding-Dong</p>
<p>Ding-Dong-Dong</p>
<p>Когда вы проснетесь завтра</p>
<p>Хорошо</p>
<p>Солнце в небе.</p>
<p>Когда вы чувствуете себя хорошо. . .</p>					

		</td>
		</tr>
	</table>
</div>
<!--131 Digital emotion - Go go yellow screen.mp3-->
<div id = "ref_131" style="display: none;">ref_131</div>
<div style="display: none;">
	<table class="table_two">
		<tr>
			<td>
<p>Live</p>
<p>live is life</p>
<p>live</p>
<p>live.</p>
<p>When we all give the power</p>
<p>we all give the best.</p>
<p>Every minute of an hour</p>
<p>don't think about a rest.</p>
<p>Then you all get the power</p>
<p>you all get the best.</p>
<p>When everyone gives everything and every song everybody sings.</p>
<p>Then it's live</p>
<p>live is life</p>
<p>live is life</p>
<p>live.</p>
<p>Live is life - when we all feel the power.</p>
<p>Live is life - come on</p>
<p>stand up and dance!</p>
<p>Источник teksty-pesenok.ru</p>
<p>Live is life - when the feeling of the people -</p>
<p>Live is life - is the feeling of the band.</p>
<p>When we all give the power</p>
<p>we all give the best. . . .</p>
<p>Then it's live</p>
<p>live is life</p>
<p>live</p>
<p>live is life</p>
<p>live.</p>
<p>Live</p>
<p>live is life</p>
<p>live</p>
<p>live is life.</p>
<p>And you call when it's over</p>
<p>you call it should last.</p>
<p>Every minute of the future is a memory of the past.</p>
<p>'Cause we all gave the power</p>
<p>we all gave the best.</p>
<p>And everyone gave everything and every song everybody sang.</p>
<p>Live is life.</p>
</td>
			<td>
<p>Жить</p>
<p>жить - это жизнь</p>
<p>жить</p>
<p>жить.</p>
<p>Когда мы все отдаем власть</p>
<p>Мы все даем лучшее.</p>
<p>Каждую минуту часа</p>
<p>Не думайте об отдыхе.</p>
<p>Тогда вы все получите власть</p>
<p>Вы все получите лучшее.</p>
<p>Когда все дают все и каждую песню, все поют.</p>
<p>Тогда это живое</p>
<p>жить - это жизнь</p>
<p>жить - это жизнь</p>
<p>жить.</p>
<p>Жить - это жизнь - когда мы все чувствуем силу.</p>
<p>Жизнь - это жизнь - давай</p>
<p>Встаньте и танцуйте!</p>
<p>Источник teksty-pesenok.ru</p>
<p>Жить - это жизнь - когда чувства людей -</p>
<p>Live - это жизнь - это чувство группы.</p>
<p>Когда мы все отдаем власть</p>
<p>Мы все даем лучшее. . . .</p>
<p>Тогда это живое</p>
<p>жить - это жизнь</p>
<p>жить</p>
<p>жить - это жизнь</p>
<p>жить.</p>
<p>Жить</p>
<p>жить - это жизнь</p>
<p>жить</p>
<p>жить - это жизнь.</p>
<p>И вы звоните, когда все закончится</p>
<p>Вы называете это должно продолжаться.</p>
<p>Каждая минута будущего - это память о прошлом.</p>
<p>Потому что мы все дали власть</p>
<p>Мы все дали лучшее.</p>
<p>И все отдавали все, и каждая песня все пели.</p>
<p>Жить - это жизнь</p>        			
    			</td>
		</tr>
	</table>
</div>























<div id="div_out">
	
</div>

<script>
var list_source=[];
list_source = document.getElementsByClassName('table_two');
//var table_out = document.createElement('table');
var count = list_source.length;
var ref='',ref_text;	
for(var i=0;i<count;i++){
var table_out = document.createElement('table');
	var table = list_source[i];
	var div_parent = table.parentElement;
	var div_prev = div_parent.previousSibling.previousSibling;
	ref = div_prev.getAttribute('id');
	ref_text = div_prev.innerText;
	console.log(ref,div_prev);
	var cell_left = table.rows[0].cells[0];
	var cell_right = table.rows[0].cells[1];
	cell_left.setAttribute('style', 'background: #ddf; border:dotted 1px;');
	var list_p_left = cell_left.getElementsByTagName('p');
	var list_p_right = cell_right.getElementsByTagName('p');
	var count_left = list_p_left.length;
	var count_right = list_p_right.length;
	var count_table = count_left>count_right?count_left:count_right;
	for(var j=0;j<count_table;j++){
	var tr_out = document.createElement('tr');
var td_out_left = document.createElement('td');	
var td_out_right = document.createElement('td');
	td_out_left.setAttribute('style', 'border:dotted 1px;');
	td_out_right.setAttribute('style', 'border:dotted 1px;');
		
	td_out_left.innerText = list_p_left[j].innerText;
		td_out_right.innerText = list_p_right[j].innerText;
		tr_out.appendChild(td_out_left);
		tr_out.appendChild(td_out_right);
		table_out.appendChild(tr_out);
//		console.log(list_p_left[j].innerText);
	}
	
//	div.innerHTML = '<p>3333333</p>';
	var div_out = document.getElementById('div_out');
	var div_prev_out = document.createElement('div');
	div_prev_out.setAttribute('id',ref);
	div_prev_out.innerText = ref_text;
	div_out.appendChild(div_prev_out);
//	table_out.setAttribute('style', 'background: #ddf; border:dotted 1px;');
	div_out.appendChild(table_out);
	console.log(count_table, count_left, count_right,);
}
</script>	
	
</body>
</html>