//https://www.internet-technologies.ru/articles/sozdaem-vypadayuschee-menyu-na-chistom-css.html
//Перевод статьи “How to Create a Pure CSS Dropdown Menu” был подготовлен дружной командой проекта Сайтостроение от А до Я.

/* задаем цвет фона для контейнера nav. */
nav {
	margin: 100px 0;
	background-color: #bbb;	//#E64A19;
}
			
/* убираем отступы и поля, а также list-style для "ul", 
* и добавляем "position:relative" */
nav ul {
	//width: 1200px;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
			
/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
	margin: 0px -7px 0 0;
	display:inline-block;
	background-color:  #77f;	//#E64A19;
}
			
/* стилизуем ссылки */
nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:45px;
	line-height: 60px;
	text-decoration:none;
}
			
/* изменяем цвет фона при наведении курсора */
nav a:hover {
	background-color: #888;//#000000;
}

/* скрываем выпадающие списки по умолчанию и задаем абсолютное позиционирование */
nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
			
/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
	display:inherit;
}
			
/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* второй, третий и последующие уровни 
 * смещаем 2 и 3 уровни влево 
 * на значение длины первого уровня.
*/
nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}

body {
	font-family: Arial;
	background: #ddd;
	font-size: 20px;
}
.div_1 {
	font-size:30px;
}