<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>apps</title>
	<style>
		body{font-family: "Arial";}
		p{margin: 0px;}
		.p_comment {
	display: none;
}
	</style>
</head>
<body>
	<div class="div_serial">
<p>System</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>windows7</p>OVGorskiy.ru.url</p>
		<p>display driver</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>net driver</p>
		<p>chrome</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>avast</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Minimum</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>npp+</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>far</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>pdf</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>office</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Cloud</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Яндекс.Диск</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Android Studio</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>============</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Cads</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Studio 2013</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Qt</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>PyCharm</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>WebStorm</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>IntelliJ IDEA</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>WebStorm</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Яндекс.Диск</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Altium</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>SolidWorks</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Keil</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>============</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Utils</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>µTorrent</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>UltraISO</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>PuTTY</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Acronis</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>2_netscan</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>VLC</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>open_server_5_2_8_ultimate.exe</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>rufus-2.17</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Total Commander</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>WinRar</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>7z</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>=================</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>appendix</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>blender</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>IconEdit2</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Mathcad</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>GoodSync</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Hex Editor Neo</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>ildasm</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>ReadyCLOUD</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>SQLite</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Opera</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>eDrawings</p>
<p class="p_comment">[{"Категория":"","подкатегория":"","Тип":"","url":"","dir":"","comment":"","ver":"","n1":"","n2":"","":"n3",}]</p>
<p>Adobe Photoshop CS</p>
		<p>NetBeans IDE 8.2</p>
		<p>TagScanner</p>
		<p>================</p>		
		
		
	</div>
	<div class="div_dipository">
		
	</div>
	
	<div class="div_all">
<p>1C Предприятие.lnk</p>
<p>2_netscan.exe</p>
<p>ABBYY FineReader 12 (2).lnk</p>
<p>Adobe Photoshop CS.lnk</p>
<p>Altium Designer.lnk</p>
<p>Android Studio.lnk</p>
<p>Arduino.lnk</p>
<p>assistant.exe.lnk</p>
<p>blender.lnk</p>
<p>Brackets.lnk</p>
<p>Cloud Mail.Ru.lnk</p>
<p>dir.txt</p>
<p>dir.vbs</p>
<p>Far Manager 3 x64.lnk</p>
<p>Foxit Advanced PDF Editor.lnk</p>
<p>IconEdit2.lnk</p>
<p>IntelliJ IDEA 2018.1 x64.lnk</p>
<p>JetBrains PyCharm Community Edition 2018.2.4 x64.lnk</p>
<p>JetBrains WebStorm 2018.1.4 x64.lnk</p>
<p>Keil uVision5.LNK</p>
<p>Mathcad 14.lnk</p>
<p>Microsoft Visual Studio 2010.lnk</p>
<p>MySQL Workbench 6.3 CE.lnk</p>
<p>NetBeans IDE 8.2.lnk</p>
<p>nh051.txt.lnk</p>
<p>Proteus 8 Professional .lnk</p>
<p>Schematic.lnk</p>
<p>SOLIDWORKS 2016 x64 Edition.lnk</p>
<p>sort10.vbs</p>
<p>SQLiteStudio.exe.lnk</p>
<p>TagScanner.lnk</p>
<p>tmp.txt.lnk</p>
<p>Visual Studio 2013.lnk</p>
<p>VLC media player.lnk</p>
<p>.apps2</p>
<p>2_netscan.exe</p>
<p>Acronis True Image 2015.lnk</p>
<p>Altium Vault Health Monitor.lnk</p>
<p>assistant.exe.lnk</p>
<p>avi (DS216).lnk</p>
<p>CCleaner.lnk</p>
<p>Core Temp.lnk</p>
<p>Gaming Mouse.lnk</p>
<p>GoodSync Explorer.lnk</p>
<p>GoodSync.lnk</p>
<p>Hex Editor Neo.lnk</p>
<p>ildasm.exe.lnk</p>
<p>Notepad++.lnk</p>
<p>PuTTY (64-bit).lnk</p>
<p>ReadyCLOUD.lnk</p>
<p>rufus-2.17.exe</p>
<p>SQLite 3.lnk</p>
<p>Total Commander.lnk</p>
<p>UltraISO.lnk</p>
<p>VLC media player.lnk</p>
<p>Диспетчер устройств.lnk</p>
<p>Скриншоты в Яндекс.Диске.lnk</p>
<p>Яндекс.Диск.lnk</p>
<p>.apps3</p>
<p>Activators.lnk</p>
<p>Disk-O.lnk</p>
<p>OVGorskiy.ru.url</p>
<p>SDI_x64_Drivers.lnk</p>
<p>µTorrent.lnk</p>
<p>Браузер Opera.lnk</p>
<p>..Solid</p>
<p>Assistant.lnk</p>
<p>eDrawings 2016 x64 Edition.lnk</p>
<p>Microsoft Visual Studio 2010.lnk</p>
<p>SOLIDWORKS Composer 2016 x64 Edition.lnk</p>
<p>SOLIDWORKS Composer Player 2016 - x64 Edition.lnk</p>
<p>SOLIDWORKS Composer Sync 2016 x64 Edition.lnk</p>
<p>SOLIDWORKS Electrical.lnk</p>
<p>SOLIDWORKS Explorer 2016.lnk</p>
<p>SOLIDWORKS Inspection 2016 x64 Edition.lnk</p>
<p>WhatsNew.pdf.lnk</p>
<p>.apps3lmm</p>
<p>019Store1.xlsm.lnk</p>
<p>OpDir014.exe.lnk</p>		
		
	</div>
	<p>--begin-------------------------------------</p>
<div class="div_comment">
	
</div>	
	<p>--end---------------------------------------</p>
	<script>
		var div_serial = document.getElementsByClassName('div_serial')[0];
		var p_serials = div_serial.getElementsByTagName('p');
		
		var cloned_p_serial = p_serials[0].cloneNode(true);
		console.log(p_serials);
		var cloned_p_serial2 = p_serials[1].cloneNode(true);
		console.log(p_serials);
		
		document.querySelector('div.div_comment').appendChild(cloned_p_serial);
	document.querySelector('div.div_comment').appendChild(cloned_p_serial2);
		cloned_p_serial2.style.display='block';
	</script>
</body>
</html>